<div ng-controller="copyToLineCtl" class="scroll_style">
    <ul class="list-group detailUlCss">
        <li>
            <div class="blockDescLiDiv">
                <span>几何编号</span>
            </div>
            <span>{{copyToLineDate.pid}}</span>
        </li>
        <li>
            <div class="blockDescLiDiv">
                <span>组号</span>
            </div>
            <span>{{geometryLineDate.groupId}}</span>
        </li>
        <li>
            <div class="blockDescLiDiv">
                <span>边界限行</span>
            </div>
            <select class="form-control poiRightPanel_select" ng-model="copyToLineDate.boundaryLink" ng-options="value.id as value.label for value in limit"></select>
        </li>
    </ul>
</div>
