<div ng-controller="TollGateCtl" class="scroll_style">
    <div class="attr-img-container" ng-if="tollGateData.passages.length > 0">
        <img ng-src="../../images/road/img/noimg.png" ng-if="!tollGateData.etcFigureCode" class="attr-img-show" style="width: 100%;">
        <img ng-src="../../images/road/etc/{{tollGateData.etcFigureCode}}.png" ng-if="tollGateData.etcFigureCode" class="attr-img-show" style="width: 100%;">
    </div>
    <ul class="list-group detailUlCss">
        <li>
            <div class="blockDescLiDiv">
                <span>进入线</span>
            </div>
            <span>
                {{tollGateData.inLinkPid}}
            </span>
        </li>
        <li>
            <div class="blockDescLiDiv">
                <span>进入点</span>
            </div>
            <span>
                {{tollGateData.nodePid}}
            </span>
        </li>
        <li>
            <div class="blockDescLiDiv">
                <span>退出线</span>
            </div>
            <span>
                {{tollGateData.outLinkPid}}
            </span>
        </li>
        <li>
            <div class="blockDescLiDiv">
                <span>通道总数</span>
            </div>
            <span>
                {{tollGateData.passageNum}}
            </span>
        </li>
        <li>
            <div class="blockDescLiDiv">
                <span>ETC代码</span>
            </div>
            <span>
                {{tollGateData.etcFigureCode}}
            </span>
        </li>
        <li>
            <div class="blockDescLiDiv">
                <span>收费类型</span>
            </div>
            <select class="form-control poiRightPanel_select" ng-model="tollGateData.type" ng-options="value.id as value.label for value in tollTypeObj" ng-change="changeChargeType();"></select>
        </li>
        <li>
            <div class="blockDescLiDiv" style="line-height: 18px;vertical-align: middle">
                <span style="display: block">收费标牌</span>
                <span style="display: block; text-align: right">采集</span>
            </div>
            <select class="form-control poiRightPanel_select" ng-model="tollGateData.photoFlag" ng-options="value.id as value.label for value in photoFlagObj"></select>
        </li>
        <li>
            <div class="blockDescLiDiv">
                <span>是否跨省</span>
            </div>
            <input type="radio" name="interstates" value={{0}} ng-model="tollGateData.locationFlag" id="interstates1"
                   class="radio_diy_class"/>
            <label for="interstates1">
                <span>未调查</span>
            </label>
            <input type="radio" name="interstates" value={{1}} ng-model="tollGateData.locationFlag" id="interstates2"
                   class="radio_diy_class"/>
            <label for="interstates2" style="padding-left: 16px">
                <span>本省</span>
            </label>
            <input type="radio" name="interstates" value={{2}} ng-model="tollGateData.locationFlag" id="interstates3"
                   class="radio_diy_class"/>
            <label for="interstates3" style="padding-left: 16px">
                <span>跨省</span>
            </label>
        </li>
        <li>
            <div class="blockDescLiDiv">
                <span>允许卡车</span>
            </div>
            <input type="radio" name="truckFlags" value={{0}} ng-model="tollGateData.truckFlag" id="truckFlags1"
                   class="radio_diy_class"/>
            <label for="truckFlags1">
                <span>否</span>
            </label>
            <input type="radio" name="truckFlags" value={{1}} ng-model="tollGateData.truckFlag" id="truckFlags2"
                   class="radio_diy_class"/>
            <label for="truckFlags2" style="padding-left: 16px">
                <span>是</span>
            </label>
        </li>
    </ul>
    <div class="poiRightPanel_fold">
        <strong>
            名称（共 {{nameGroup.length}} 组）
        </strong>
        <div>
            <img src="../../images/newRoad/rightPanelIcon/icon_add.png" ng-click="addGroup()"/>
        </div>
    </div>
    <!-- 名称组显示 -->
    <div class="nameGroups"  ng-repeat="item in nameGroup" ng-init="outerIndex = $index">
        <div class="poiRightPanel_fold">
            <strong style="font-size: 12px;">名称组{{item[0].nameGroupid}}</strong>
            <div><i class="fa fa-plus-square-o" style="font-size: 16px;; cursor: pointer" aria-hidden="true" ng-click="addNameItem($index)"></i></div>
            <div style="padding-right: 8px;: 8px"><i class="fa fa-minus-square-o" style="font-size: 16px; cursor: pointer" aria-hidden="true" ng-click="removeGroup($index)"></i></div>
        </div>
        <ul class="list-group detailUlCss">
            <li ng-class="{'linkName_li': !(currentGroupIndex==$parent.$parent.$index&&currentItempIndex==$index),'linkName_li_checked': (currentGroupIndex==$parent.$parent.$index&&currentItempIndex==$index)}" ng-click="rememberNameNum($parent.$parent.$index, $index)" ng-repeat="subItem in item" data-container="body" data-animation="am-flip-x" data-auto-close="1" bs-popover data-placement="left" data-template-url="../../scripts/components/road/tpls/attr_tollgate_tpl/tollGateNameTpl.html">
                <div style="width: 50px;padding-left: 10px;display: inline-block">
                    <span>{{$index + 1}}</span><!--名称组号-->
                </div>
                <div style="width: 100px;display: inline-block" ng-repeat="code in langCodeOptions | filter: subItem.langCode as results track by code.id">
                    <span>{{code.label}}</span><!--名称分类-->
                </div>
                <div style="width: 110px;display: inline-table">
                    <div class="text-ellipsis" style="max-width: 80px;" title="{{subItem.name}}">{{subItem.name === ''? '未命名': subItem.name}}</div><!--语言代码-->
                </div>
                <img style="cursor: pointer" src="../../images/newRoad/rightPanelIcon/icon_delete.png" ng-click="removeItem($index, $parent.$parent.$index,'name', subItem)">
            </li>
        </ul>
    </div>
    <div class="poiRightPanel_fold">
        <strong>
            通道信息（共 {{tollGateData.passages.length}} 条）
        </strong>
        <div ng-click="addItem('passage')">
            <img src="../../images/newRoad/rightPanelIcon/icon_add.png"/>
        </div>
    </div>
    <ul class="list-group detailUlCss">
        <li ng-class="{'linkName_li': !(passagesIndex==$index),'linkName_li_checked': (passagesIndex==$index)}" ng-click="showDetail('passage',$index);" ng-repeat="passagesItem in tollGateData.passages" data-container="body" data-animation="am-flip-x" data-auto-close="1" bs-popover data-placement="left" data-template-url="../../scripts/components/road/tpls/attr_tollgate_tpl/tollGatePassageTpl.html">
            <div style="width: 250px;display: inline-block" ng-if="tollGateData.type == 1 ||tollGateData.type  == 8 ||tollGateData.type  == 9 ||tollGateData.type  == 10"><span>{{cardTypeObj[passagesItem.cardType].name === ''? '未命名': cardTypeObj[passagesItem.cardType].name}}</span></div>
            <div style="width: 250px;display: inline-block" ng-if="tollGateData.type == 0 ||tollGateData.type == 2 ||tollGateData.type == 3 ||tollGateData.type == 4 || tollGateData.type == 5 ||tollGateData.type == 6 ||tollGateData.type == 7"><span ng-bind="showTollform(passagesItem.tollForm)"></span></div>
            <img src="../../images/newRoad/rightPanelIcon/icon_delete.png" ng-click="removeItem($index,'passage')">
        </li>
    </ul>
</div>
