<style>
    #advanceSearchLeftContainer {
        font-size: 12px;
        width: 300px;
        height: 100%;
        position: relative;
        padding: 40px 0 60px;
    }
    #advanceSearchLeftContainer .searchHeader{
        height: 40px;
        padding-left: 10px;
        background-color: #636ef5;
        position: relative;
        margin-top: -40px;
    }
    #advanceSearchLeftContainer .searchHeader h4 {
        display: inline-block;
        margin: 0;
        padding: 0;
        height: 40px;
        color: #FFFFFF;
        line-height: 40px;
        font-size: 15px;
        font-weight: 700;
        letter-spacing: 1px;
    }
    #advanceSearchLeftContainer .searchHeader a.advanceSearchClose {
        position: absolute;
        top: 10px;
        right: 10px;
        width: 20px;
        height: 20px;
        cursor: pointer;
        transition: all .3s;
        z-index: 3;
        background: url(../../images/webEditor/left-panel/icon_close.png) no-repeat center center transparent;
    }
    #advanceSearchLeftContainer .searchHeader a.advanceSearchClose:hover {
        transform: rotate(90deg);
    }
    #advanceSearchLeftContainer .searchFooter {
        height: 60px;
        padding-left: 10px;
        margin-bottom: -60px;
        font-size: 15px;
        border-top: 1px solid #c7c6c6;
    }
    #advanceSearchLeftContainer .searchFooter button {
        margin-right: 5px;
        color: #fff;
        background-color: #636ef5;
        border: none;
        border-radius: 3px;
        height: 25px;
    }
    #advanceSearchLeftContainer .searchFooter button:hover {
        background-color: #454dab;
    }
    #advanceSearchLeftContainer ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    #advanceSearchLeftContainer ul li {
        height: 30px;
        line-height: 30px;
        padding-left: 10px;
    }
    #advanceSearchLeftContainer ul li div {
        display: inline-block;
    }
    #advanceSearchLeftContainer ul li div.adminNames {
        width: 90px;
        /* overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; */
    }
    #advanceSearchLeftContainer ul li div.roadNames {
        width: 120px;
    }
    #advanceSearchLeftContainer ul li div.roadNames.content:hover {
        color: #636ef5;
        cursor: pointer;
    }
    #advanceSearchLeftContainer ul li div.ckBox {
        width: 60px;
    }
</style>
<div ng-controller="AdvanceSearchController" id="advanceSearchLeftContainer" >
    <div class="searchHeader">
        <h4>查询结果</h4>
        <a href="javascript:void(0);" class="advanceSearchClose" ng-click="closeAdvanceSearchPanel()"></a>
    </div>
    <div style="height: 100%;overflow-y: auto;">
        <ul>
            <li style="font-weight: bold;">
                <div class="ckBox">
                    <span>是否已确认</span>
                </div>
                <div class="roadNames">
                    <span>道路名</span>
                </div>
                <div class="adminNames">
                    <span>行政区划名称</span>
                </div>
            </li>
            <li ng-repeat="item in results.rows track by $index">
                <div class="ckBox">
                    <input type="checkbox" class="fm-control" style="cursor: pointer;" ng-model="item.checked"
                    ng-click="refreshSelectedNums(item)">
                </div>
                <div class="roadNames content" ng-click="highlightRoad(item)">
                    <span>{{item.name}}</span>
                </div>
                <div class="adminNames">
                    <span>{{item.adminId}}</span>
                </div>
            </li>
        </ul>
    </div>
    <div class="searchFooter">
        <div style="display: inline-block;width: 80px;margin-top: 10px;">
            <span>选中 {{selectedNums}} 条, 共 {{results.total}} 条</span>
        </div>
        <div style="display: inline-block;float: right;margin: 20px 0;">
            <button ng-click="copyToLine()">复制到线</button>
            <button ng-click="copyToPolygon()">复制到面</button>
            <button ng-click="trackLine()">追踪</button>
        </div>
    </div>
</div>