
<div ng-controller="TmcTreeController" class="scroll_style" style="min-width: 250px;">
    <div class="blank-title">TMC</div>
    <div style="margin-top: 40px;">
        <div class="title">
            TMC
            <span class="glyphicon glyphicon-remove-sign close-left-panel pull-right" ng-click="closeLeftPanel();"></span>
        </div>
        <fast-collapse expander-title="当前选择TMCPoint（{{selectTmcInfo.length}}）" ng-if="selectTmcInfo.length && selectTmcInfo[0].type == 'TMCPOINT'">
            <div>
                <ul class="list-group detailUlCss tmc-ul">
                    <li ng-repeat="item in selectTmcInfo" ng-class="{true:'active'}[activeTmc.tmcId == item.tmcId]">
                        <div class="list-li" ng-click="showTreeSelected(item);">
                            TMCPoint:{{item.tmcId}}
                        </div>
                        <!--<i class="glyphicon glyphicon-remove-circle remove-ico" ng-click="removeItem($index,item)"></i>-->
                    </li>
                </ul>
            </div>
        </fast-collapse>
        <fast-collapse expander-title="当前选择TMCLane（{{selectTmcInfo.length}}）" ng-if="selectTmcInfo.length && selectTmcInfo[0].type == 'TMCLINE'">
            <div>
                <ul class="list-group detailUlCss tmc-ul">
                    <li class="active">
                        <div class="list-li" ng-click="showTreeSelected(activeTmc);">
                            TMCLine:{{activeTmc.tmcId}}
                        </div>
                        <!--<i class="glyphicon glyphicon-remove-circle remove-ico" ng-click="removeItem($index,activeTmc)"></i>-->
                    </li>
                </ul>
            </div>
        </fast-collapse>
        <fast-collapse expander-title="当前选择TMCLocation（{{selectTmcLocations.length}}）" ng-if="selectTmcLocations.length">
            <div>
                <ul class="list-group detailUlCss tmc-ul">
                    <li ng-repeat="item in selectTmcLocations" ng-class="{true:'active'}[activeTmc.pid == item.pid]">
                        <div class="list-li" ng-click="selectTmcLocation(item);">
                            TMCLocation:{{item.pid}}
                        </div>
                        <!--<i class="glyphicon glyphicon-remove-circle remove-ico" ng-click="removeItem($index,item)"></i>-->
                    </li>
                </ul>
            </div>
        </fast-collapse>
        <div ng-if="tmcTreeData">
            <div class="poiRightPanel_fold">树形结构</div>
            <div>
                <ul class="list-group detailUlCss" style="margin-top: 8px;">
                    <li>
                        <div class="col-md-12" style="width: 100%;overflow: auto;white-space: nowrap;">
                            <treecontrol class="tree-classic" tree-model="tmcTreeData" expanded-nodes="expendNodes" on-selection="showTreeSelected(node)" selected-node="selectedItem">
                                <span ng-if="node.type == 'TMCPOINT' || node.type == 'TMCLINE' || node.type == 'TMCAREA'" ng-class="{'glyphicon':true,'glyphicon glyphicon-map-marker':node.type == 'TMCPOINT','glyphicon-road':node.type == 'TMCLINE','glyphicon-globe':node.type == 'TMCAREA'}"></span>
                                <span title="{{node.name}}" ng-bind="node.name"></span>
                            </treecontrol>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
