<div ng-controller="PoiPopoverTipsCtl">
    <div class="tips-title">
        <label class="col-sm-12 control-label title-label">
            POI状态
        </label>
    </div>
    <span class="glyphicon glyphicon-remove-sign close-tips" ng-click="closeTips();"></span>
    <div class="col-sm-12 img-preview-container">
        <span ng-if="nowActiveImg.thumbnailUrl" class="glyphicon glyphicon-trash remove-preview-img" title="删除" ng-click="deletePhoto(nowActiveImg);"></span>
        <img ng-if="nowActiveImg.thumbnailUrl" ng-click="showImage(nowActiveImg,nowActiveIndex);" image-404="../../../images/road/img/noimg.png" ng-src="{{nowActiveImg.originUrl}}" class="img-preview" alt="">
        <img ng-if="!nowActiveImg.thumbnailUrl" src="../../../images/road/img/noimg.png" class="img-preview" alt="当前无图片">
        <span class="photo-page">{{nowActiveIndex}}/{{poi.photos.length==0?0:poi.photos.length}}</span>
        <!--<div class="photo-load-bg" ng-show="showPhotoLoading">
            <div class="spinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
        </div>-->
    </div>
    <div class="col-sm-12 task-box">
        <div class="col-sm-5 text-control">
            <select ng-class="{'fm-control':true,'chosen-disabled':isSpecialOperation}" class="fm-control" ng-model="nowActiveImg.tag" ng-options="item.id as item.label for item in photoTagOptions" ng-disabled="isSpecialOperation"></select>
        </div>
        <div class="col-sm-7 text-right">
            <label class="col-sm-8 text-control">
                <input type="radio" name="taskTime">本作业季
            </label>
            <label class="col-sm-4 text-control">
                <input type="radio" name="taskTime" checked>全部
            </label>
        </div>
    </div>
    <div class="meta-info col-sm-12">
        <button class="preview-left" ng-click="turnTipsPage(1);" ng-disabled="tipsPage == 1">
            <span class="glyphicon glyphicon-menu-left"></span>
        </button>
        <button class="preview-right" ng-click="turnTipsPage(2);" ng-disabled="tipsBtnDisabled">
            <span class="glyphicon glyphicon-menu-right"></span>
        </button>
        <div ng-repeat="item in poi.photos">
            <img ng-if="poi.photos.length < 5" image-404="../../../images/road/img/noimg.png" ng-src="{{item.thumbnailUrl}}"
                 ng-click="showPreviewImg(item,$index);" ng-class="{'active':nowActiveIndex == $index+1,'tips-img':true}" alt="">
            <img ng-if="poi.photos.length > 4 && $index > 4*(tipsPage-1)-1  && $index < 4*tipsPage" image-404="../../../images/road/img/noimg.png" ng-src="{{item.thumbnailUrl}}"
                 ng-click="showPreviewImg(item,$index);" ng-class="{'active':nowActiveIndex == $index+1,'tips-img':true}" alt="">
        </div>
        <!--<div ng-if="poi.photos.length == 0 ">
            <img image-404="../../../images/road/img/noimg.png" ng-src="{{item.thumbnailUrl}}" class="tips-img" alt="">
            <img image-404="../../../images/road/img/noimg.png" ng-src="{{item.thumbnailUrl}}" class="tips-img" alt="">
            <img image-404="../../../images/road/img/noimg.png" ng-src="{{item.thumbnailUrl}}" class="tips-img" alt="">
            <img image-404="../../../images/road/img/noimg.png" ng-src="{{item.thumbnailUrl}}" class="tips-img" alt="">
        </div>-->
    </div>
    <div class="tips-middle">
        <div class="panel panel-default tips-panel">
            <div class="panel-body panel-tips">
                <div class="col-sm-12 tips-info">
                    <label class="col-sm-6 control-label text-right">审核状态：</label>
                    <label class="label label-primary"
                           ng-class="{1: 'danger', 2: 'warning', 3: 'success'}[poi.status]"
                           ng-bind="statusObject[poi.status]"></label>
                </div>
                <div class="col-sm-12 tips-info">
                    <label class="col-sm-6 control-label text-right">数据状态：</label>
                    <label class="label label-primary"
                           ng-class="{0: 'default', 1:'info', 2: 'danger', 3: 'success'}[poi.state]"
                           ng-bind="recordObject[poi.state]"></label>
                </div>
                <div class="col-sm-12 tips-info">
                    <label class="col-sm-6 control-label text-right">3D标识：</label>
                    <div ng-show="poi.poi3DIcon" class="poi_icon icon_3d" title="3DIcon"></div>
                    <div ng-show="!poi.poi3DIcon">
                        否
                    </div>
                </div>
                <div class="col-sm-12 tips-info">
                    <label class="col-sm-6 control-label text-right">重要POI：</label>
                    <div class="col-sm-6">
                        <div ng-if="poiCarIcon" class="poi_icon icon_car " title="重要车厂"></div>
                        <div ng-if="poiRmbIcon" class="poi_icon icon_rmb" title="后项收费"></div>
                        <div ng-if="poiIcon" class="poi_icon icon_default" title="ICON">ICON</div>
                        <div ng-if="!poiCarIcon && !poiRmbIcon && !poiIcon">无</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="tips-middle">
        <div class="panel panel-default tips-panel">
            <div class="panel-body panel-tips">
                <div class="col-sm-12 tips-info">
                    <label class="col-sm-3 control-label text-right">备注：</label>
                    <div class="col-sm-9" ng-bind="poi.poiMemo"></div>
                </div>
            </div>
        </div>
    </div>-->
    <div ng-show="showImgModal" ng-class="{true:'showImgModal modal-tips-img animated-fast fadeInDown',false:'modal-tips-img animated fadeOutDown'}[showImgModal]">
        <div oc-lazy-load="['scripts/components/poi/ctrls/attr-tips/showImgModalCtl']">
            <div ng-include="'../../../scripts/components/poi/tpls/attr-tips/showImgModalTpl.html'">
            </div>
        </div>
    </div>
</div>
