<div ng-controller="SamePoiController" class="fm-panel">
    <div class="header">
        <div class="title">修改POI同一关系</div>
    </div>
    <div class="content fm-scroll">
        <table ng-if="true" class="table">
            <tbody>
            <tr ng-repeat="node in same.sameNameList">
                <td >{{$index+1}}</td>
                <td class="tdWidthText">{{node.name}}</td>
                <td class="tdWidthLable"><label class="label label-primary">{{node.kindName}}</label> </td>
                <td > <span class="glyphicon glyphicon-remove-sign" style="padding-top:7px;float: right;color: darkgray;float: left;cursor:pointer;" ng-click="minusSamePoi($index)"></span>
                </td>
            </tr>
            </tbody>
        </table>
        <div style="text-align: center;padding: 10px;">
            <button type="button" class="btn btn-sm btn-lev" ng-click="saveSame();">创 建</button>
        </div>
    </div>
</div>
