<div ng-controller="ShowImgModalCtl">
    <div class="img-modal-body animate fadeInUp">
        <ul class="tips-option-well">
            <li class="tips-option-li">
                <button class="tips-btn-group btn-prev" title="上一张" ng-disabled="indexNow == 1"
                        ng-click="showImgPre();">
                    <i class='glyphicon glyphicon-arrow-left'></i>
                </button>
            </li>
            <li class="tips-option-li">
                <button class="tips-btn-group btn-next" title="下一张" ng-disabled="indexNow == poi.photos.length"
                        ng-click="showImgNext();">
                    <i class='glyphicon glyphicon-arrow-right'></i>
                </button>
            </li>
            <li class="tips-option-li">
                <button class="tips-btn-group btn-fullscreen" title="全屏" ng-click="imgFullScreen();">
                    <i class='glyphicon glyphicon-fullscreen'></i>
                </button>
            </li>
            <li class="tips-option-li">
                <button class="tips-btn-group btn-close-tips" title="关闭" ng-click="closeTipsImg()">
                    <i class='glyphicon glyphicon-remove'></i>
                </button>
            </li>
        </ul>
        <div>
            <img class="poiTipsOriginImg" img-show title="滑轮滚动可放大缩小" ng-src="{{imageNow.originUrl}}"/>
        </div>
        <div class="text-center">
            {{indexNow}}/{{poi.photos.length}}
        </div>
    </div>
</div>