<style>
    .direct-card {
        cursor: pointer;
    }
    .direct-card > img {
        text-align: center;
        margin: 5px;
        width: 34px;
        height: 40px;
    }
    .direct-card:hover, .direct-card:focus {
        box-shadow: 0px 0px 7px 4px #868ff7;
    }
    .makeLane-card {
        width: 60px;
        height: 120px;
        border: 1px solid #2196F3;
        text-align: center;
        position: relative;
        display: inline-block;
        margin-left: 10px;
        margin-top: 10px;
    }
    .makeLane-card > img {
        padding-top: 10px;
        padding-bottom: 10px;
        cursor: pointer;
    }
    #laneConnexityLanes .arrow-popover {
        left: -300px !important;
        top: 282px !important;
        max-width: 300px;
        background-color: #fff
    }
</style>
<div ng-controller="TipLaneConnexityTopoEditCtrl" class="scroll_style">
    <div class="fm-panel" style="height: auto;">
        <div class="header">
            <div class="title">车道方向</div>
        </div>
        <div class="content" style="padding: 10px;">
            <ul class="list-group item-list">
                <li class="direct-card" ng-repeat="item in laneDirectData" style="padding: 5px;" ng-click="addLaneConnexity(item)">
                    <img ng-src="../../images/road/1301/1301_0_{{item.flag}}.svg" >
                </li>
            </ul>
        </div>
        <div class="fm-panel" style="height: auto;">
            <div class="header">
                <div class="title">已制作的车道信息</div>
            </div>
            <div class="content" style="padding-bottom: 10px" id="laneConnexityLanes">
                <div class="makeLane-card" ng-repeat="item in lanes track by $index">
                    <img ng-src="../../images/road/1301/1301_0_{{item.direct}}.svg" ng-click="onChangeDirect($index, 0)" data-container="#laneConnexityLanes" data-animation="am-flip-x" data-auto-close="1" bs-popover data-placement="left" data-template-url="../../scripts/components/infos/tpls/attr_infoLaneConnexit_tpl/changeLaneDirectTmpl.html">
                    <div>
                        <input type="checkbox" id="addLane + {{$index}}" class="radio_diy_class" ng-model="item.extend" ng-checked="item.extend" ng-change="objChange()"/>
                        <label for="addLane + {{$index}}">
                            <span>附加</span>
                        </label>
                    </div>
                    <img ng-src="../../images/road/1301/1301_1_{{item.busDirect}}.svg" ng-show="item.direct === 'o'">
                    <img ng-src="../../images/road/1301/1301_1_{{item.busDirect}}.svg" ng-show="item.direct !== 'o'" ng-click="onChangeDirect($index, 1)" data-container="#laneConnexityLanes" data-animation="am-flip-x" data-auto-close="1" bs-popover data-placement="left" data-template-url="../../scripts/components/infos/tpls/attr_infoLaneConnexit_tpl/changeLaneDirectTmpl.html">
                    <img src="../../images/newPoi/rightPanelIcon/button-delete-small.png" style="position: absolute;top: -5px;right: -5px;padding: 0" ng-click="deleteDirect($index)">
                </div>
            </div>
        </div>
    </div>
</div>
