<style>
    .addAdNode_false {
        background: url('../../../images/road//button/dot_add.png') no-repeat;
        width: 32px;
        height: 32px;
    }

    .addAdNode_true {
        background: url('../../../images/road//button/dot_add_selected.png') no-repeat;
        width: 32px;
        height: 32px;
    }

    .addAdLink_false {
        background: url('../../../images/road//button/line_add.png') no-repeat;
        width: 32px;
        height: 32px;
    }

    .addAdLink_true {
        background: url('../../../images/road//button/line_add_selected.png') no-repeat;
        width: 32px;
        height: 32px;
    }

    .addAdAdmin_false {
        background: url('../../../images/road//button/adAdmin_add.png') no-repeat;
        width: 32px;
        height: 32px;
    }

    .addAdAdmin_true {
        background: url('../../../images/road//button/adAdmin_add_selected.png') no-repeat;
        width: 32px;
        height: 32px;
    }
    .addAdFace_false {
        background: url('../../../images/road//button/adAdFace_add.png') no-repeat;
        width: 32px;
        height: 32px;
    }

    .addAdFace_true {
        background: url('../../../images/road//button/adAdFace_add_selected.png') no-repeat;
        width: 32px;
        height: 32px;
    }

    #fm-addShapContainer>button:focus{
        outline: none;
    }
    .btn-shape{
        color: #fff;
        background-color: #7F7F7F;
        border: 1px solid #494949;
    }
    .btn-shape:hover{
        border: 1px solid #494949;
    }
    .shape-well{
        min-width: 367px;
        background-color: #494949;
        text-align: center;
        opacity: .9;
    }
</style>
<div id="fm-addShapContainer" ng-controller="addAdShapeController" class="btn-group btn-group-sm dropdown" style="width: 100%;">
    <button type="button" class="btn addAdNode_{{classArr[18]}}" id="addNode" ng-click="addAdShape('adNode',18,$event)"
            title="新增ADNODE+"></button>
    <button type="button" class="btn addAdLink_{{classArr[19]}}" id="addAdLink" ng-click="addAdShape('adLink',19,$event)"
            title="新增ADLINE"></button>
    <button type="button" class="btn addAdAdmin_{{classArr[20]}} dropdown-toggle"  ng-click="addAdShape('adAdmin',20,$event)"
            title="新增行政区划代表点">
    </button>
    <!--<button type="button" class="btn addAdFace_{{classArr[7]}}" id="addPolygon"  ng-click="addShape('adFace',7,$event)"-->
            <!--title="新增polygon">-->
    <!--</button>-->
    <button type="button" class="btn addAdFace_{{classArr[21]}} dropdown-toggle" id="addPolygon"
            data-toggle="dropdown" title="新增polygon">
    </button>
    <ul class="dropdown-menu shape-well" role="menu">
        <div class="btn-group btn-group-sm" style="float: none;">
            <button type="button" class="btn btn-shape" ng-click="addAdShape('adFace',21,$event)">新增面</button>
            <button type="button" class="btn btn-shape" ng-click="addAdShape('adFaceLine',21,$event)">线构面</button>
        </div>
    </ul>

</div>
