<style>
    .searchPanel .inputWrapper {
        position: absolute;
        right: 0px;
        width: 30px;
        height: 30px;
        background-color: transparent;
        transition: all .6s cubic-bezier(.42, 0, .58, 1);
    }
    .searchPanel .inputWrapper.active {
        opacity: 1;
        right: 2px;
        background: #fff;
        width: 250px;
        box-shadow: 0 0 10px #93bbff;
    }
    .searchPanel .inputWrapper .searchInput{
        border: none;
        width: 0;
        font-size: 12px;
        height: 27px;
        position: relative;
        border: none;
        background: transparent;
        transition: all 0.3s ease 0.3s;
    }
    .searchPanel .inputWrapper.active .searchInput{
        width: 175px;
        left: 44px;
        border-bottom: 1px solid #44A9FF;
    }
    .searchPanel .inputWrapper .searchIcon {
        position: absolute;
        top: 0;
        right: 3px;
        height: 30px;
        width: 30px;
        color: #44A9FF;
        border: none;
        font-size: 16px;
        background: #fff;
        border-radius: 15px;
        font-weight: normal;
        box-shadow: 0 0 10px #93bbff;
        transition: all .3s cubic-bezier(0.000, 0.105, 0.035, 1.570);
        transition-delay: 0.3s;
    }
    .searchPanel .inputWrapper.active .searchIcon {
        background: transparent;
        box-shadow: none;
    }
    .searchPanel .inputWrapper .searchType ul.typeList {
        list-style: none;
        padding: 0;
        position: absolute;
        top: 30px;
        right: -1px;
        background: #fff;
        border-radius: 3px;
        cursor: pointer;
        box-shadow: 0 2px 6px 0 #93bbff;
        width: 60px;
        text-align: center;
        display: none;
    }
    .searchPanel .inputWrapper.active .searchType:hover ul.typeList {
        display: block;
    }
    .searchPanel .inputWrapper .searchType ul.typeList li {
        height: 24px;
        line-height: 24px;
        border: 1px solid transparent;
    }
    .searchPanel .inputWrapper .searchType ul.typeList li:hover {
        border: 1px solid #5896ff;
        background-color: rgba(88, 150, 255, 0.1);
    }
    .searchPanel .senior {
        width: 34px;
        height: 22px;
        top: 4px;
        color: white;
        line-height: 22px;
        text-align: center;
        border-radius: 4px;
        display: none;
        background-color: transparent;
        position: absolute;
        margin-left: 5px;
    }
    .searchPanel .inputWrapper.active .senior{
        display: block;
        background-color: #44A9FF;
        transition: all 0.3s ease 0.6s;
    }
    .searchPanel .advancePanel{
        position: absolute;
        top: 31px;
        right: 2px;
        width: 300px;
        background-color: #ffffff;
        box-shadow: 0 0 10px #93bbff;
        border-radius: 3px;
    }
    .searchPanel .advancePanel ul.searchList{
        list-style: none;
        padding: 0;
        margin: 10px 5px 5px;
    }
    .searchPanel .advancePanel ul.searchList li {
        height: 25px;
        line-height: 25px;
        margin: 3px 0;
    }
    .searchPanel .advancePanel ul.searchList input {
        width: 165px;
        height: 22px;
        padding-left: 5px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }
    .searchPanel .advancePanel .advanceButton {
        margin-right: 8px;
        color: #fff;
        background-color: #636ef5;
        border: none;
        border-radius: 3px;
        height: 25px;
    }
    .searchPanel .advancePanel .advanceButton:hover {
        background-color: #454dab;
    }
</style>
<div ng-controller="searchToolCtrl">
    <div class="searchPanel">
        <div class="inputWrapper">
            <input class="searchInput" ng-model="searchText" placeholder="请输入道路名称，PID">
            <div style="display: inline-block;" class="searchType">
                <button class="inputButton searchIcon" ng-click="showAction($event);"><span class="glyphicon glyphicon-search"></span></button>
                <ul class="typeList">
                    <li ng-click="doSearch(2)">
                        <span>精确查询</span>
                    </li>
                    <li ng-click="doSearch(1)">
                        <span>模糊查询</span>
                    </li>
                </ul>
            </div>
            <span class="inputButton senior" style="cursor: pointer" ng-click="toggleAdvancePanel()">高级</span>
        </div>
        <div class="advancePanel" ng-show="advancePanelFlag">
            <ul class="searchList">
                <li ng-repeat="item in roadNames track by $index">
                    <span>道路名称 = </span>
                    <input type="text" ng-model="item.text">
                    <div style="display: inline-block;float: right;">
                        <img ng-click="deleteItem($index)" ng-style="{'margin-right': $index===0 ? '5px' : '30px'}" src="../../images/newPoi/rightPanelIcon/button-delete.png">
                        <img ng-if="$index===0" ng-click="addItem()" src="../../images/newPoi/rightPanelIcon/button-add.png">
                    </div>
                </li>
            </ul>
            <div style="float: right;margin: 8px 0;">
                <button class="advanceButton" ng-click="doAdvanceSearch(2)">精确查询</button>
                <button class="advanceButton" ng-click="doAdvanceSearch(1)">模糊查询</button>
            </div>
        </div>
    </div>
</div>
