<div ng-controller="userToolCtrl">
    <div>
        <!-- <div class="innerImg"></div> -->
    </div>
    <ul class="list-group fm-dropdown-menu">
        <li ng-class="{true:'disabled'}[menuList.indexOf('submit') < 0]" ng-click="submitGeometry(menuList.indexOf('submit') < 0)">
            提交几何
        </li>
        <li ng-class="{true:'disabled'}[menuList.indexOf('geometryCheck') < 0]" ng-click="geometryCheck(menuList.indexOf('geometryCheck') < 0)">
            几何检查
        </li>
        <li ng-class="{true:'disabled'}[menuList.indexOf('geometryResult') < 0]" ng-click="geometryCheckResult(menuList.indexOf('geometryResult') < 0)">
            检查结果
        </li>
        <li ng-class="{true:'disabled'}[menuList.indexOf('log') < 0]" ng-click="submitAgain(menuList.indexOf('log') < 0)">
            重新批赋
        </li>
        <li ng-class="{true:'disabled'}[menuList.indexOf('datadifference') < 0]" ng-click="showdatadifferenceResultListPanel(menuList.indexOf('datadifference') < 0)">
            数据差分
        </li>
        <li ng-class="{true:'disabled'}[menuList.indexOf('splitRule') < 0]" ng-click="splitRule(menuList.indexOf('splitRule') < 0)">
            拆分rule
        </li>
        <li ng-class="{true:'disabled'}[menuList.indexOf('ruleTable') < 0]" ng-click="showRuleResultListPanel(menuList.indexOf('ruleTable') < 0)">
            编辑rule表
        </li>
        <li ng-class="{true:'disabled'}[menuList.indexOf('policyTable') < 0]" ng-click="showPolicyTool(menuList.indexOf('policyTable') < 0)">
            编辑策略表
        </li>
        <li ng-class="{true:'disabled'}[menuList.indexOf('limit') < 0]" ng-click="spareLineList(menuList.indexOf('limit') < 0)">
            编辑线列表
        </li>
        <li ng-class="{true:'disabled'}[menuList.indexOf('intersectList') < 0]" ng-click="intersectList(menuList.indexOf('intersectList') < 0)">
            相交线列表
        </li>
        <li ng-class="{true:'disabled'}[menuList.indexOf('resultList') < 0]" ng-click="showResultListPanel(menuList.indexOf('policyTable') < 0)">
            几何成果列表
        </li>
        <li ng-class="{true:'disabled'}[menuList.indexOf('temporaryList') < 0]" ng-click="showTemporaryResultListPanel(menuList.indexOf('temporaryList') < 0)">
            几何临时列表
        </li>
        <li ng-class="{true:'disabled'}[menuList.indexOf('dealfailureList') < 0]" ng-click="showdealfailureResultListPanel(menuList.indexOf('dealfailureList') < 0)">
            处理失败列表
        </li>
        <li ng-class="{true:'disabled'}[menuList.indexOf('infoPanel') < 0]" ng-click="backToInfo(menuList.indexOf('infoPanel') < 0)">
            返回group表
        </li>
        <li>
            <a href="#/login">退出</a>
        </li>
    </ul>
</div>
