<div ng-controller="userToolCtrl">
    <div>
        <!-- <div class="innerImg"></div> -->
    </div>
    <ul class="list-group fm-dropdown-menu">
        <li ng-class="{true:'disabled'}[menuList.indexOf('infoPanel') < 0]">
            返回情报列表
        </li>
        <li ng-class="{true:'disabled'}[menuList.indexOf('policyTable') < 0]" ng-click="showPolicyTool(menuList.indexOf('policyTable') < 0)">
            编辑策略表
        </li>
        <li ng-class="{true:'disabled'}[menuList.indexOf('submit') < 0]" ng-click="submitGeometry(menuList.indexOf('submit') < 0)">
            提交几何
        </li>
        <li ng-class="{true:'disabled'}[menuList.indexOf('limit') < 0]">
            批复限行信息
        </li>
        <li ng-class="{true:'disabled'}[menuList.indexOf('log') < 0]">
            查看批复日志
        </li>
        <li ng-class="{true:'disabled'}[menuList.indexOf('resultList') < 0]" ng-click="showResultListPanel(menuList.indexOf('policyTable') < 0)">
            几何成果列表
        </li>
        <li>
            <a href="#/login">退出</a>
        </li>
    </ul>
</div>
