<div ng-controller="ConfusionResultCtl">
    <table class="table table-bordered table-condensed fm-console-table">
        <thead>
            <tr>
                <th ng-repeat="item in theadInfo">
                    {{item}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-if="!poi.confusionInfoData || poi.confusionInfoData.length == 0">
                <td colspan="{{theadInfo.length}}" class="text-center">没有找到匹配的记录</td>
            </tr>
            <tr ng-repeat="item in poi.confusionInfoData">
                <td>{{$index + 1}}</td>
                <td>{{item.errorCode}}</td>
                <td>{{item.errorMsg || item.description}}</td>
                <td>
                    <a ng-if="item.type == 0" class="textColorRed" href="javascript:void(0);" ng-click="ignoreConfusionResult(item);">忽略</a>
                    <p ng-if="item.type == 1" class="fm-console-table-p text-muted">忽略</p>
                    <p ng-if="item.type == 2" class="fm-console-table-p text-success">已忽略</p>
                </td>
                <td>
                    <p ng-if="item.refFeatures.length == 0" class="fm-console-table-p">无</p>
                    <a ng-if="item.refFeatures.length > 0" class="fm-console-table-p" href='javascript:void(0);' ng-click="showConflictInMap($index);"><span class='label label-primary'>{{item.poiType}}</span></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
