<div ng-controller="ErrorCheckCtl">
    <table id="errorCheckTable" class="table table-bordered table-condensed fm-console-table">
        <thead>
            <tr>
                <th ng-repeat="item in theadInfo">
                    {{item}}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-if="!checkResultData || checkResultData.length == 0">
                <td colspan="{{theadInfo.length}}" class="text-center">没有找到匹配的记录</td>
            </tr>
            <tr ng-repeat="row in checkResultData">
                <td width="120">
                    <div style="width: 120px" class="text-ellipsis" title="{{row.ruleid}}">{{row.shortRuleId}}</div>
                </td>
                <td width="60">
                    <div style="width: 60px">
                        <span ng-if="row.rank==0" >无 </span>
                        <span ng-if="row.rank==1" >Fatal </span>
                        <span ng-if="row.rank==2" >Critical </span>
                        <span ng-if="row.rank==3" >Error </span>
                        <span ng-if="row.rank==4" >warning </span>
                    </div>
                </td>
                <td width="5%">
                    <div ng-if="row.mutiCheck">
                        [{{row.featureType}},
                        <span ng-repeat="item in row.mutiListCheck">
                            <a href="#" ng-if="$index < row.mutiListCheck.length-1" class="fm-target" ng-click="showOnMap(item,row.featureType, row)">{{item }},</a>
                            <a href="#" ng-if="$index == row.mutiListCheck.length-1" class="fm-target" ng-click="showOnMap(item,row.featureType, row)">{{item }}</a>
                        </span>
                        ]
                    </div>
                </td>
                <td>
                    <div ng-style="setTableCeilWidth()" title="{{row.information}}">{{row.shortInfo}}</div>
                </td>
                <td width="110">
                    <div>{{row.create_date.substr(0,10)}}</div>
                </td>
                <!--<td width="110">-->
                    <!--<div style="width:110px">{{row.worker}}</div>-->
                <!--</td>-->
                <td width="110">
                    <select ng-class="{'fm-control':true,'chosen-disabled':initType!=0}" class="fm-control" ng-model="initType"
                            ng-options="value.id as value.label for value in initTypeOptions"   ng-change="changeType(initType,row.id)" ng-disabled="initType!=0">
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
</div>
