<div ng-controller="FileUploadCtl" nv-file-drop="" uploader="uploader">
    <div class="fm-panel">
        <div class="progress fm-progress" ng-show="showProgress">
            <div class="progress-bar progress-bar-info progress-bar-striped fm-progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
        </div>
        <div class="title">上传文件
            <span class="upload-btn upload-add">
                <button class="fm-upload-ico">
                    <i ng-if="!isSpecialOperation" class="glyphicon glyphicon-plus-sign"></i>
                    <input type="file" nv-file-select="" uploader="uploader" multiple  />
                </button>
                <button class="fm-upload-ico" title="全部上传" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                    <i class="glyphicon glyphicon-upload"></i>
                </button>
                <button class="fm-upload-ico" title="全部取消" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                </button>
                <button class="fm-upload-ico" title="移除全部" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                    <i class="glyphicon glyphicon-remove-circle"></i>
                </button>
            </span>
        </div>
        <div class="content">
            <ul class="fm-ul fm-ul-list">
                <li ng-if="!uploader.queue || uploader.queue.length == 0" class="text-center">
                    目前无要上传的图片
                </li>
                <li ng-repeat="item in uploader.queue" class="fm-upload-list">
                    <label class="col-sm-4 fm-uploder-file-name">
                        <strong title="{{ item.file.name }}">{{ item.file.name }}</strong>
                    </label>
                    <div class="fm-uploder-file-flag">
                        <span ng-show="item.isSuccess" class="fm-flag-ico"><i class="glyphicon glyphicon-ok"></i></span>
                        <span ng-show="item.isCancel" class="fm-flag-ico"><i class="glyphicon glyphicon-ban-circle"></i></span>
                        <span ng-show="item.isError" class="fm-flag-ico"><i class="glyphicon glyphicon-remove"></i></span>
                    </div>
                    <div class="fm-uploder-file-option">
                        <button class="fm-upload-ico" titile="上传" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                            <i class="glyphicon glyphicon-upload"></i>
                        </button>
                        <button class="fm-upload-ico" title="取消" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                            <i class="glyphicon glyphicon-ban-circle"></i>
                        </button>
                        <button class="fm-upload-ico" title="移除" ng-click="item.remove()">
                            <i class="glyphicon glyphicon-trash"></i>
                        </button>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
