<div ng-controller="PoiInfoListCtl">
    <div class="info-tip">
        <div class="tools">
            <button type="button" class="close" ng-click="closeRelatedPoiInfo()">
                <span aria-hidden="true">&times;</span>
                <span class="sr-only">Close</span>
            </button>
        </div>
        <div class="title">{{refFt.title}}</div>
        <div class="content" style="max-height: 240px;">
            <ol>
                <li ng-repeat="item in refFt.refList">
                    <a ng-if="layerName=='mainPoiLayer'" href="javascript:;" class="has-popover"
                       ng-click="showSelectedSamePoiInfo(item,$index);" ng-bind="item.name"></a>
                    <a ng-if="layerName!='mainPoiLayer'" href="javascript:;" class="has-popover"
                       ng-click="showPoiDetailInfo(item,$index);" uib-popover-template="poiInfoTpl"
                       popover-placement="right" popover-append-to-body="true" popover-title="POI属性" ng-bind="item.name"></a>
                    <span class="label label-info" ng-bind="item.kindInfo.kindName"></span>
                    <span class="label label-{{item.labelRemark.labelClass}}" ng-bind="item.labelRemark.text"></span>
                </li>
            </ol>
        </div>
    </div>
</div>