<div ng-controller="PoiInfoPopoverCtl">
    <dl class="dl-horizontal property">
        <dt>主名称:</dt>
        <dd ng-bind="poiInfo.poi.name"></dd>
        <dt>主地址:</dt>
        <dd ng-bind="poiInfo.poi.address"></dd>
        <dt>分 类:</dt>
        <dd ng-bind="poiInfo.kindName"></dd>
    </dl>
    <div class="text-center">
        <button ng-if="isLocked" type="button" class="btn btn-default btn-tn" ng-click="doLockRelatedPoi(poiInfo.poi.fid);" ng-disabled="poi.submitStatus!=0">锁 定
        </button>
        <button ng-if="!isLocked" type="button" class="btn btn-default btn-tn"
                ng-click="doEditRelatedPoi(poiInfo.poi.fid);" ng-disabled="poi.submitStatus!=0">编辑
        </button>
        <button ng-if="poiInfo.poi.ifParent == 1" type="button" class="btn btn-default btn-tn"
                ng-click="removeRelateParent();" ng-disabled="!pEditable">解除父
        </button>
        <button ng-if="poiInfo.poi.ifParent == 2" type="button" class="btn btn-default btn-tn"
                ng-click="asRelateParent(poiInfo.poi);" ng-disabled="!pEditable">作为父
        </button>

    </div>
</div>