<div class="fm-panel" ng-controller="RdNameEditCtl" style="height:400px;width:800px;">
    <div class="content" style="height:360px;">
        <div>
            <form class="w5c-form" w5c-form-validate="" novalidate name="RdNameEditForm">
                <ul class="fm-ul fm-ul-form col-md-4">
                    <li>
                        <label style="width:30%;">名称组号:</label>
                        <div>
                            <input type="text" class="form-control editPanel_input" ng-model="roadNameData.nameGroupid"
                                   ng-disabled=true>
                            <a ng-show="nameGroupidEditable" title="搜索" class="glyphicon glyphicon-search"
                               aria-hidden="true" ng-click="openSearchModal('nameGroup')"
                               style="margin-left: -17px;"></a>
                        </div>
                    </li>
                    <li>
                        <label style="width:30%;">道路名称:</label>
                        <div>
                            <input type="text" class="form-control editPanel_input" ng-model="roadNameData.name"
                                   ng-class="{true:'chosen-disabled'}[nameDisable]" ng-disabled=nameDisable
                                   ng-change="getPronunciation('name','namePhonetic','voiceFile')" name="roadName"
                                   ng-maxlength="roadNameMax">
                        </div>
                    </li>
                    <li>
                        <label style="width:30%;">类型名称:</label>
                        <div>
                            <input type="text" class="form-control editPanel_input chosen-disabled"
                                   ng-model="roadNameData.type" ng-disabled=true>
                            <a ng-show="typeEditable" title="搜索" class="glyphicon glyphicon-search" aria-hidden="true"
                               ng-click="openSearchModal('type')" style="margin-left: -17px;"></a>
                            <a ng-show="typeClearable" title="清除" class="glyphicon glyphicon-remove"
                               aria-hidden="true" ng-click="clearRoadType()"
                               style="margin-left: -30px;color:#F1B0B0"></a>
                        </div>
                    </li>
                    <li>
                        <label style="width:30%;">基本名发音:</label>
                        <div>
                            <input type="text" class="form-control editPanel_input" ng-model="roadNameData.basePhonetic"
                                   ng-class="{true:'chosen-disabled'}[basePhoneticDisable]"
                                   ng-disabled="basePhoneticDisable" name="basePhonetic" ng-maxlength="240">
                        </div>
                    </li>
                    <li>
                        <label style="width:30%;">中缀名称:</label>
                        <div>
                            <select class="fm-control editPanel_input" style="width:160px;" ng-model="roadNameData.infix"
                                    no_results_text="'--无--'" placeholder_text_single="'--请选择--'"
                                    ng-options="value.id as value.label for value in infixOpt"
                                    chosen ng-change="getPy($event, this, 'infix', 'infixPhonetic')"
                                    ng-class="{true:'chosen-disabled'}[infixDisable]" ng-disabled=infixDisable>
                            </select>
                        </div>
                    </li>
                    <li>
                        <label style="width:30%;">后缀发音:</label>
                        <div><input type="text" class="form-control editPanel_input chosen-disabled"
                                    ng-model="roadNameData.suffixPhonetic" ng-disabled=true></div>
                    </li>
                    <li>
                        <label style="width:30%;">HW标识:</label>
                        <div>
                            <select class="fm-control editPanel_input" style="width:160px;" ng-model="roadNameData.hwInfoFlag"
                                    placeholder_text_single="'--请选择--'"
                                    ng-options="value.id as value.label for value in hwInfoFlagOpt"
                                    chosen ng-change="hwInfoFlagChange($event, this)"
                                    ng-class="{true:'chosen-disabled'}[hwInfoFlagDisable]"
                                    ng-disabled="hwInfoFlagDisable">
                            </select>
                        </div>
                    </li>
                    <li>
                        <label style="width:30%;">拆分标识:</label>
                        <div>
                            <select class="fm-control editPanel_input" style="width:160px;" ng-model="roadNameData.splitFlag"
                                    placeholder_text_single="'--请选择--'"
                                    ng-options="value.id as value.label for value in splitFlagOpt"
                                    ng-change="splitFlagChange($event, this)">
                            </select>
                        </div>
                    </li>
                </ul>
                <ul class="fm-ul fm-ul-form col-md-4">
                    <li>
                        <label style="width:30%;">名称号码:</label>
                        <div>
                            <input type="text" class="form-control editPanel_input" ng-model="roadNameData.nameId"
                                   ng-disabled=true>
                        </div>
                    </li>
                    <li>
                        <label style="width:30%;">道路名发音:</label>
                        <div>
                            <input type="text" class="form-control editPanel_input"
                                   ng-model="roadNameData.namePhonetic" name="namePhonetic" ng-maxlength="240">
                        </div>
                    </li>
                    <li>
                        <label style="width:30%;">类型名发音:</label>
                        <div><input type="text" class="form-control editPanel_input chosen-disabled"
                                    ng-model="roadNameData.typePhonetic"
                                    ng-class="{true:'chosen-disabled'}[basePhoneticDisable]"
                                    ng-disabled="basePhoneticDisable"></div>
                    </li>
                    <li>
                        <label style="width:30%;">前缀名称:</label>
                        <div>
                            <select class="fm-control editPanel_input" style="width:160px;" ng-model="roadNameData.prefix"
                                    no_results_text="'--无--'" placeholder_text_single="'--请选择--'"
                                    ng-options="value.id as value.label for value in prefixOpt"
                                    chosen ng-change="getPy($event, this, 'prefix', 'prefixPhonetic')"
                                    ng-class="{true:'chosen-disabled'}[prefixDisable]" ng-disabled=prefixDisable>
                            </select>
                        </div>
                    </li>
                    <li>
                        <label style="width:30%;">中缀发音:</label>
                        <div><input type="text" class="form-control editPanel_input chosen-disabled"
                                    ng-model="roadNameData.infixPhonetic" ng-disabled=true></div>
                    </li>
                    <li>
                        <label style="width:30%;">名称来源:</label>
                        <div>
                            <select class="fm-control editPanel_input" style="width:160px;" ng-model="roadNameData.srcFlag"
                                    placeholder_text_single="'--请选择--'"
                                    ng-options="value.id as value.label for value in srcFlagOpt"
                                    ng-change="srcFlagChange($event, this)"
                                    ng-class="{true:'chosen-disabled'}[srcFlagDisable]" ng-disabled=srcFlagDisable>
                            </select>
                        </div>
                    </li>
                    <li>
                        <label style="width:30%;">行政区划:</label>
                        <div>
                            <select class="fm-control editPanel_input" style="width:160px;" ng-model="roadNameData.adminId"
                                    placeholder_text_single="'--请选择--'" search_contains=true
                                    chosen ng-options="value.id as value.label for value in adminOpt"
                                    ng-change="adminIdChange($event,this)"
                                    ng-class="{true:'chosen-disabled'}[adminIdDisable]" ng-disabled=adminIdDisable>
                            </select>
                        </div>
                    </li>
                    <li>
                        <label style="width:30%;">作业状态:</label>
                        <div>
                            <select class="fm-control editPanel_input" style="width:160px;" ng-model="roadNameData.processFlag"
                                    placeholder_text_single="'--请选择--'"
                                    ng-options="value.id as value.label for value in processFlagOpt">
                            </select>
                        </div>
                    </li>
                </ul>
                <ul class="fm-ul fm-ul-form col-md-4">
                    <li>
                        <label style="width:30%;">语言类型:</label>
                        <div>
                            <select class="fm-control editPanel_input" style="width:160px;" ng-model="roadNameData.langCode"
                                    placeholder_text_single="'--请选择--'"
                                    ng-options="value.id as value.label for value in langCodeOpt"
                                    ng-change="langCodeChange($event, this)"
                                    ng-class="{true:'chosen-disabled'}[langCodeDisable]" ng-disabled=langCodeDisable>
                            </select>
                        </div>
                    </li>
                    <li>
                        <label style="width:30%;">名称语音:</label>
                        <div>
                            <input type="text" class="form-control editPanel_input" style="width:160px;" ng-model="roadNameData.voiceFile"
                                   ng-class="{true:'chosen-disabled'}[voiceFileDisable]" ng-disabled="voiceFileDisable">
                        </div>
                    </li>
                    <li>
                        <label style="width:30%;">基本名称:</label>
                        <div><input type="text" class="form-control editPanel_input" ng-model="roadNameData.base"
                                    ng-blur="getPy($event, this, 'base', 'basePhonetic')"
                                    ng-class="{true:'chosen-disabled'}[baseDisable]" ng-disabled=baseDisable name="base"
                                    ng-maxlength="35"></div>
                    </li>
                    <li>
                        <label style="width:30%;">前缀发音:</label>
                        <div><input type="text" class="form-control editPanel_input chosen-disabled"
                                    ng-model="roadNameData.prefixPhonetic" ng-disabled=true></div>
                    </li>
                    <li>
                        <label style="width:30%;">后缀名称:</label>
                        <div>
                            <select class="fm-control editPanel_input" style="width:160px;" ng-model="roadNameData.suffix"
                                    no_results_text="'--无--'" placeholder_text_single="'--请选择--'"
                                    ng-options="value.id as value.label for value in suffixOpt"
                                    chosen ng-change="getPy($event, this, 'suffix', 'suffixPhonetic')"
                                    ng-class="{true:'chosen-disabled'}[suffixDisable]" ng-disabled=suffixDisable>
                                <option></option>
                            </select>
                        </div>
                    </li>
                    <li>
                        <label style="width:30%;">道路类型:</label>
                        <div>
                            <select class="fm-control editPanel_input" style="width:160px;" ng-model="roadNameData.roadType"
                                    placeholder_text_single="'--请选择--'"
                                    ng-options="value.id as value.label for value in roadTypeOpt"
                                    ng-change="roadTypeChange($event, this)"
                                    ng-class="{true:'chosen-disabled'}[roadTypeDisable]" ng-disabled=roadTypeDisable>
                            </select>
                        </div>
                    </li>
                    <li>
                        <label style="width:30%;">国家编号:</label>
                        <div>
                            <select class="fm-control editPanel_input" style="width:160px;" ng-model="roadNameData.codeType"
                                    placeholder_text_single="'--请选择--'"
                                    ng-options="value.id as value.label for value in codeTypeOpt"
                                    ng-change="codeTypeChange($event, this)"
                                    ng-class="{true:'chosen-disabled'}[codeTypeDisable]" ng-disabled=codeTypeDisable>
                            </select>
                        </div>
                    </li>
                    <li>
                        <label style="width:30%;">地级市名称:</label>
                        <div><input type="text" class="form-control editPanel_input" ng-model="roadNameData.city"
                                    disabled></div>
                    </li>
                </ul>
                <ul class="fm-ul fm-ul-form col-md-12">
                    <li>
                        <label style="width:10%;">道路名来源履历:</label>
                        <div><input type="text" class="form-control" style='height: 24px;'
                                    ng-model="roadNameData.srcResume">
                        </div>
                    </li>
                </ul>
                <ul class="fm-ul fm-ul-form col-md-12">
                    <li>
                        <label style="width:10%;">备注信息:</label>
                        <div><textarea style="resize: none;" type="text" class="form-control"
                                       ng-model="roadNameData.memo"></textarea></div>
                    </li>
                </ul>
            </form>
        </div>

        <!--组ID和类型名称弹框modal-->
        <div class="fm-modal" drag ng-show="searchModal">
            <div drag-handle style="height: 40px;width: 100%;background-color: #1A90FE;cursor: pointer">
                <div>
                    <span style="color: white;font-size: 14px;font-weight: bold;padding:0px 4px;">{{searchModalTitle}}</span>
                    <button type="button" class="close pull-right"
                            style="padding:0px 4px;font-size:28px;color:white;opacity:1;" ng-click="closeSearchModal()"
                            title="关闭"><span>&times;</span></button>
                </div>
            </div>
            <div class="content" ng-include="searchModalTpl">
            </div>
        </div>
    </div>
    <div style="border-bottom: 1px solid #ddd;"></div>
    <div style="text-align:right;">
        <!--<button type="button" class="btn road-btn-main" ng-disabled="running" ng-click="doSave()" style="margin:6px 8px">保存</button>-->
        <button ng-if="restBtn" type="button" class="btn md-btn-warning" ng-click="reset()" style="margin:6px 8px"><img
                src="../../images/meta/reset.png">重置
        </button>
        <button type="button" class="btn md-btn-success" ng-click="doSave()" style="margin:6px 8px"><img
                src="../../images/meta/confirm.png">确定
        </button>
    </div>
</div>