<div style="height:300px;width:600px;" ng-controller="typeTableCtl">
    <div class="fm-subtable-content fm-fitsize scroll-styled" style="top:40px;bottom: 40px">
        <div class="table-header">
            <div class="table-search fm-inline" style="padding: 10px 50px 10px 10px" class="pull-left">
                <div class="btn-group">
                    <button type="button" class="btn btn-xs fm-xs-btn fm-group-btn" ng-disabled="disabled">
                        名称:
                    </button>
                </div>
                <input class="fm-search-control" type="text" ng-model="filters.name" style="color:black"/>
            </div>
        </div>
        <table ng-table-dynamic="typeTableParams with typeTableCols"
               class="table table-condensed table-bordered md-table">
            <colgroup>
                <col ng-repeat="col in typeTableCols | filter:{show: true}" width="{{col.width || '100'}}"/>
            </colgroup>
            <tr ng-repeat="row in $data" ng-dblClick="selectVal(row,$index,'type')"
                ng-class="{true:'active'}[itemActive == $index]">
                <td ng-repeat="col in $columns">
                    <p title="{{row[col.field]}}" ng-bind-html="col.getValue?col.getValue(this,row):row[col.field]"></p>
                </td>
            </tr>
            <tr class="text-center" ng-show="!$data.length">
                <td colspan="{{(typeTableCols | filter: {show: true}).length}}" ng-bind="loadTableDataMsg"></td>
            </tr>
        </table>
    </div>
</div>