<div class=" scroll_style" ng-controller="highWayConnectCtrl">
    <ul class="list-group detailUlCss">
        <li>
            <div class="blockDescLiDiv">
                <span>类型</span>
            </div>
            <input type="radio" name="highWaytype" ng-value={{1}} ng-model="highWayConnect.deep.tp" id="highWaytype1"
                   class="radio_diy_class"/>
            <label for="highWaytype1"><span>IC</span></label>
            <input type="radio" name="highWaytype" ng-value={{2}} ng-model="highWayConnect.deep.tp" id="highWaytype2"
                   class="radio_diy_class"/>
            <label for="highWaytype2"><span>JCT</span></label>
        </li>
        <li style="line-height:60px;height:60px">
            <div class="blockDescLiDiv" style="vertical-align: top;">
                <span>备注</span>
            </div>
            <textarea class="form-control poiRightPanel_area" type="text" rows=2 ng-model="highWayConnect.content"></textarea>
        </li>
    </ul>
</div>