<div style="height: 100%; width: 100%;" ng-controller="createPoiCtrl" id="addDirectOfConnexityDiv"  ><!-- oncontextmenu="self.event.returnValue=false" -->
    <ul class="list-group detailUlCss">
        <li>
            <div >
                <label class="control-label" style="padding-left: 10px;">新建poi必填项</label>
            </div>
        </li>
        <li>
            <div class="blockDescLiDiv">
                <span>名 称</span>
            </div>
            <input class="form-control poiRightPanel_Input" type="text" ng-model="name" ng-change="objChange(1);" ng-maxlength="35" />
        </li>
        <li>
            <div class="blockDescLiDiv">
                <span>分 类</span>
            </div>
            <select class="form-control poiRightPanel_chosen" ng-model="kindCode"
                    no_results_text="'没有找到'"  placeholder_text_single="'--请选择--'" search_contains=true
                    ng-options="value as lable.kindName for (value, lable) in metaData.kindFormat"
                    chosen ng-change="objChange(2);" >
                <option></option>
            </select>
        </li>
    </ul>
</div>