<link rel="stylesheet" type="text/css" href="../../styles/webEditor/deepInfo.css">
<style>
    .deepbaseinfo li.multiLine {
        height: inherit;
        padding: 6px 0;
        line-height: 18px;
    }
    .deepbaseinfo li.multiLine div.longName {
        display: inline-block;
        max-width: 190px;
        word-wrap: break-word;
        word-break: break-all;
    }
</style>
<div style="width: 100%;height: 100%" ng-controller="deepInfoCtl" class="scroll_deep">
    <fast-collapse expander-title='基础信息'>
        <ul class="list-group deepUlCss deepbaseinfo">
            <li>
                <div class="deepDescLiDiv">
                    <span>FID</span>
                </div>
                <span>{{poi.poiNum}}</span>
            </li>
            <li>
                <div class="deepDescLiDiv">
                   <span>PID</span>
                </div>
                <span>{{poi.pid}}</span>
            </li>
            <li class="multiLine">
                <div class="deepDescLiDiv">
                    <span>主名称</span>
                </div>
                <div class="longName">
                    <span title="{{poiName}}">{{poiName}}</span>
                </div>
            </li>
            <li class="multiLine">
                <div class="deepDescLiDiv">
                    <span>主地址</span>
                </div>
                <div class="longName">
                    <span title="{{fullName}}">{{fullName}}</span>
                </div>
            </li>
            <li class="multiLine">
                <div class="deepDescLiDiv">
                    <span>电 话</span>
                </div>
                <div class="longName">
                    <span title="{{teleNum}}">{{teleNum}}</span>
                </div>
            </li>
            <li>
                <div class="deepDescLiDiv">
                    <span>分 类</span>
                </div>
                <span>{{kindName}}</span>
            </li>
            <li ng-if="deepType == 1">
                <div class="deepDescLiDiv">
                    <span>停车场类型</span>
                </div>
                <span>{{parkType}}</span>
            </li>
            <li ng-if="deepType == 3">
                <div class="deepDescLiDiv">
                    <span>品 牌</span>
                </div>
                <span>{{chainName}}</span>
            </li>
        </ul>
    </fast-collapse>
    <div>
        <ng-form name="poiDeepForm" novalidate>
            <div ng-include='deepInfoToolbarTpl'></div>
        </ng-form>
    </div>
</div>
