<div ng-controller="samePoisCtrl">
    <fast-collapse expander-title='同一关系'>
        <ul class="list-group detailUlCss">
            <li ng-if="poi.samepoiParts.length == 0">
                <div class="blockDescLiDiv" style="line-height: 18px;vertical-align: middle">
                    <span style="display: block">同一关系</span>
                    <span style="display: block; text-align: right">POI:</span>
                </div>
                <span style="font-weight: normal">无</span>
            </li>
            <li ng-repeat="cItem in poi.samepoiParts" ng-if="poi.samepoiParts.length > 0 && cItem.poiPid!=poi.pid">
                    <div class="blockDescLiDiv" style="line-height: 18px;vertical-align: middle">
                        <span style="display: block">同一关系</span>
                        <span style="display: block; text-align: right">POI:</span>
                    </div>
                    <span>{{child.childPoiPid}}</span>
                    <div style="display: inline-block;width: 190px;line-height: 18px;">
                        <a style="margin-left: 20px;" href="javascript:void(0);" title="删除同一关系" ng-click="deleteSamePoi(poi)"><i class="glyphicon glyphicon-remove-sign" ng-show="!isSpecialOperation"></i></a>
                        <div style="width: 152px;display: inline-block;vertical-align: top;">
                            <span style="word-wrap: break-word;word-break: break-all;" title="{{pidName[cItem.poiPid]}}">{{pidName[cItem.poiPid]}}</span>
                        </div>
                    </div>
            </li>
        </ul>

        <!--<div class="fm-panel">-->
            <!--<div class="title">-->
                <!--<div>同一关系POI-->
                <!--<a ng-if="poi.samepoiParts.length > 0" class="glyphicon glyphicon-remove-sign"-->
                      <!--style="padding-top:3px;float: right;color: darkgray;cursor:pointer;" title="删除同一关系"-->
                      <!--ng-click="deleteSamePoi(poi)" ng-show="!isSpecialOperation"></a>-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="content">-->
                <!--<ul class="fm-ul fm-ul-list">-->
                    <!--<li ng-if="poi.samepoiParts.length <= 0">-->
                        <!--<label>-->
                            <!--无-->
                        <!--</label>-->
                    <!--</li>-->
                    <!--<li ng-if="poi.samepoiParts.length > 0" ng-repeat="cItem in poi.samepoiParts">-->
                        <!--<label ng-if="cItem.poiPid!=poi.pid">-->
                            <!--{{cItem.poiPid}}-->
                        <!--</label>-->
                    <!--</li>-->
                <!--</ul>-->
            <!--</div>-->
        <!--</div>-->
    </fast-collapse>
</div>
