<div ng-controller="adNodeController">
    <ul class="list-group detailUlCss">
        <li>
            <div class="blockDescLiDiv"><span>种别</span></div>
            <span ng-repeat="item in kind | filter:{id:adNodeData.kind}">
                {{item.label}}
            </span>
        </li>
        <li>
            <div class="blockDescLiDiv"><span>形态</span></div>
            <select ng-model="adNodeData.form"
                    class="form-control roadLeftPanel_select"
                    ng-options="value.id as value.label disable when (value.id != adNodeData.form) for value in form">
            </select>
        </li>
        <li>
            <div class="blockDescLiDiv"><span>图幅号</span></div>
            <span>{{adNodeData.meshId}}</span>
        </li>
    </ul>
</div>
