<form name="myForm" autocomplete="off" class="form-horizontal" novalidate>
    <!-- username part -->
    <div>
        <img ng-src="../../images/poi/main/userName.png" ng-style="loginUserNameImg">
        <input type="text" ng-model="username" name="user" class="form-control" required
               maxlength="50" placeholder={{userNamePlaceholder}} autofocus id="inputDiy"
               ng-style="loginUserNameInput" ng-focus="changeUserNamePlaceholder()"
               ng-blur="changeUserNamePlaceholder()"/>
        <!--<div class="col-sm-12">-->
        <!--<div style="color: red;padding: 5px 0" ng-show="myForm.user.$error && (myForm.user.$dirty || validType == 3) && showErrorMsg">-->
        <!--<div ng-show="myForm.user.$error.required">用户名不能为空</div>-->
        <!--<div ng-show="myForm.user.$error.minlength">用户名不能小于3位</div>-->
        <!--<div ng-show="myForm.user.$error.maxlength">用户名不能大于50位</div>-->
        <!--<div ng-show="myForm.user.$error.pattern">用户名必须是以英文字母开头</div>-->
        <!--</div>-->
        <!--</div>-->
    </div>
    <!-- password part -->
    <div ng-style="loginPassWordDiv">
        <img class="userName" ng-src="../../images/poi/main/password.png" ng-style="loginUserNameImg">
        <input type="password" ng-model="pwd" name="userpassword" class="form-control" required
               maxlength="16" placeholder={{passwordPlaceholder}} id="inputDiy1"
               ng-style="loginUserNameInput" ng-focus="changePasswordPlaceholder()"
               ng-blur="changePasswordPlaceholder()"/>
        <!--<div class="col-sm-12">-->
        <!--<div style="color: red;padding: 0px 10px"-->
        <!--ng-show="myForm.userpassword.$error && (myForm.userpassword.$dirty || validType == 3) && showErrorMsg">-->
        <!--<div ng-show="myForm.userpassword.$error.required">密码不能为空</div>-->
        <!--<div ng-show="myForm.userpassword.$error.minlength">密码名不能小于3位</div>-->
        <!--<div ng-show="myForm.userpassword.$error.maxlength">密码名不能大于16位</div>-->
        <!--</div>-->
        <!--</div>-->
    </div>
    <!-- loginButton part -->
    <div ng-style="loginRememberDiv">
        <label style="float:right" ng-click="changeForgetMe()">
            <span ng-style="loginRememberSpan"> 记住我 </span>
            <img ng-style="loginRememberImg" ng-src="../../images/poi/main/inputCheck.png" ng-show="rememberMe">
            <img ng-style="loginRememberImg" ng-src="../../images/poi/main/inputChecked.png" ng-show="!rememberMe">
            <input ng-model="rememberMe" type="checkbox" style="display: none">
        </label>
    </div>
    <div ng-style="loginErrorDiv">
        <div ng-style="loginErrorMessageDiv" ng-show="errorFlag">
            <img ng-style="loginErrorImg" ng-src="../../images/poi/main/loginFail.png">
            <span ng-style="loginErrorSpan">
                {{errorMessage}}
            </span>
        </div>
        <div ng-style="loginErrorNullDiv" ng-show="!errorFlag">

        </div>
    </div>
    <div ng-style="loginButtonDiv">
        <button ng-click="handleEvent()" class="form-control" type="submit" id="loginButton"
                ng-style="loginButton">登录
        </button>
    </div>
    <!-- remember me -->
    <!--<div class="form-group">-->
    <!--<div class="col-sm-12">-->
    <!--<div class="checkbox">-->
    <!--<label><input ng-model="rememberMe" type="checkbox"> 记住我</label>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
</form>

