<div ng-controller="tunnelCtrl" class="scroll_style">
    <ul class="list-group detailUlCss">
        <li>
            <div class="blockDescLiDiv">
                <span>名称</span>
            </div>
            <input type="text" ng-model="tunnel.deep.name" class="form-control poiRightPanel_Input">
        </li>
        <li style="line-height:60px;height:60px">
            <div class="blockDescLiDiv" style="vertical-align: top;line-height: 20px">
                <span>备注</span>
            </div>
            <textarea class="form-control poiRightPanel_area" type="text" rows=2 ng-model="tunnel.content"></textarea>
        </li>
    </ul>
</div>

