<div class="popover" tabindex="-1" style="width: 300px;height: 200px;">
    <div class="scroll_style linkForm_popover" ng-controller="formOfWayController" style="font-size: 14px;color: #182848">
        <div ng-repeat="item in fromOfWayOption track by $index">
            <input type="checkbox" id={{item.id+'linkform'}} ng-model="item.isCheck" checked={{item.isCheck}} ng-change="changeLinkFormList(item)" />
            <label for={{item.id+'linkform'}}>{{item.label}}</label>
        </div>
    </div>
</div>
