<div class="popover" tabindex="-1" style="max-width: 300px;height: 200px; background-color: #fff;left: -300px">
    <div class="scroll_style linkForm_popover">
        <div style="min-width: 110px" ng-repeat="item in vehicleOptions">
            <input type="checkbox" id={{item.id+'linkLimitCarTypeController'}} name="formType" ng-click="carSelect()" ng-model="item.checked" />
            <label for={{item.id+'linkLimitCarTypeController'}}>
                {{item.label}}
            </label>
        </div>
    </div>
</div>