<div class="popover" tabindex="-1" style="width: 300px;height: 92px;">
    <form class="w5c-form" w5c-form-validate="" novalidate name="rwlinkNameForm">
        <ul class="list-group detailUlCss" ng-controller="namesOfRwLinkController">
            <li>
                <label class="control-label" style="color:#EA7070;">合法的铁路名数据应该来源于道路名库</label>
            </li>
            <li>
                <div class="linkName_popover_Div"><span>名称组号</span></div>
                <input class="form-control poiRightPanel_Input" ng-model="currentActiveRoadName.nameGroupid" type="text" disabled/>
            </li>
            <li style="position: relative">
                <div class="linkName_popover_Div"><span>铁路名称</span></div>
                <input class="form-control poiRightPanel_Input"
                       type="text"
                       style="padding-right: 30px"
                       ng-model="currentActiveRoadName.name"
                       bs-typeahead
                       data-limit=20
                       data-animation="am-flip-x"
                       data-watch-options="1"
                       bs-options="roadName as roadName.name for roadName in roadNames"
                       data-template-url= "../../scripts/components/road/tpls/attr_link_tpl/typeaHeadTpl.html"
                />
            </li>
        </ul>
    </form>
</div>
