<div class="groupEdit_container" ng-controller="addGroupCtrl">
    <div>
        <div class="groupEdit_title">
            <span>行政区划：</span>
        </div>
        <div class="groupEdit_content">
            <span>{{cityName}}</span>
        </div>
    </div>
    <div>
        <div class="groupEdit_title">
            <span>类型：</span>
        </div>
        <div class="groupEdit_content">
            <span>新增</span>
        </div>
    </div>
    <div style="height: 48px">
        <div class="groupEdit_title" style="vertical-align: top">
            <span>限制规定：</span>
        </div>
        <div class="groupEdit_content">
            <textarea class="tl_list_area" type="text" rows=2 ng-model="principle"></textarea>
        </div>
    </div>
    <div class="list-title-btn" ng-click="saveGroup()" style="background-color: #5693ff;height: 24px;line-height: 24px;float: right;margin-right: 20px;margin-top: 20px">
        <span style="color: #FFFFFF;font-size: 12px">保存</span>
    </div>
</div>