<style>
    .policy {
        width: 100%;
        height: 100%;
    }

    .policy .chosen-choices {
        height: 59px !important;
        max-height: 59px;
        overflow: auto;
    }

    .policy_container {
        display: inline-block;
        width: 300px;
        padding-top: 10px;
    }

    .policy_container_title {
        width: 90px;
        text-align: right;
        display: inline-block
    }
</style>
<div ng-controller="addPolicyCtrl" class="policy">
    <form class="w5c-form" novalidate w5c-form-validate="" name="policyForm">
        <div style="padding-left: 10px;height: 450px;overflow: auto">
            <div>
                <div class="policy_container_title">
                    <span>组号：</span>
                </div>
                <span>{{groupId}}</span>
            </div>
            <div>
                <div class="policy_container">
                    <div class="policy_container_title">
                        <span>车辆类型：</span>
                    </div>
                    <div style="display: inline-block">
                        <select
                                chosen
                                multiple
                                placeholder-text-multiple="'请选择车辆类型'"
                                width="'190px'"
                                ng-model="policyData.vehicle"
                                ng-options="value.id as value.name for value in carType"
                                ng-change="changeVehicle()"
                        >
                            <option value=""></option>
                        </select>
                    </div>
                </div>
                <div class="policy_container">
                    <div class="policy_container_title">
                        <span>车座限制：</span>
                    </div>
                    <div style="display: inline-block">
                        <input class="form-control poiRightPanel_Input" set-focus ng-pattern="/^-?\d+$/"
                               name="seatnum" required ng-model="policyData.seatnum" type="number" ng-disabled="policyData.vehicle.indexOf(1) < 0"/>
                    </div>
                </div>
                <div class="policy_container">
                    <div class="policy_container_title">
                        <span>本外地：</span>
                    </div>
                    <div style="display: inline-block">
                        <select
                                chosen
                                multiple
                                placeholder-text-multiple="'请选择本外地'"
                                width="'190px'"
                                ng-model="policyData.attribution"
                                ng-options="value.id as value.name for value in location"
                        >
                            <option value=""></option>
                        </select>
                    </div>
                </div>
                <div class="policy_container">
                    <div class="policy_container_title">
                        <span>临牌转换原则：</span>
                    </div>
                    <div style="display: inline-block">
                        <select class="form-control poiRightPanel_select" ng-model="policyData.tempPlate"
                                ng-options="value.id as value.name for value in tempPlate" ng-change="changeTemp()"></select>
                    </div>
                </div>
                <div class="policy_container" ng-show="policyData.tempPlate === 1">
                    <div class="policy_container_title">
                        <span>临牌对应数字：</span>
                    </div>
                    <div style="display: inline-block">
                        <select class="form-control poiRightPanel_select" ng-model="policyData.tempPlateNum"
                                ng-options="value for value in tempPlateNum"></select>
                    </div>
                </div>
                <div class="policy_container">
                    <div class="policy_container_title">
                        <span>受限本地车：</span>
                    </div>
                    <div style="display: inline-block">
                        <input class="form-control poiRightPanel_Input" ng-model="policyData.restrict">
                    </div>
                </div>
                <div class="policy_container">
                    <div class="policy_container_title">
                        <span>字母转换原则：</span>
                    </div>
                    <div style="display: inline-block">
                        <select class="form-control poiRightPanel_select" ng-model="policyData.charSwitch"
                                ng-options="value.id as value.name for value in charSwitch" ng-change="changeChar()"></select>
                    </div>
                </div>
                <div class="policy_container" ng-show="policyData.charSwitch === 1">
                    <div class="policy_container_title">
                        <span>字母对应数字：</span>
                    </div>
                    <div style="display: inline-block">
                        <select class="form-control poiRightPanel_select" ng-model="policyData.charToNum"
                                ng-options="value for value in charToNum"></select>
                    </div>
                </div>
                <div class="policy_container">
                    <div class="policy_container_title">
                        <span>限行尾号：</span>
                    </div>
                    <div style="display: inline-block">
                        <select
                                chosen
                                multiple
                                placeholder-text-multiple="'请选择限行尾号'"
                                width="'190px'"
                                ng-model="policyData.tailNumber"
                                ng-options="value.id as value.name for value in tailNumber"
                        >
                            <option value=""></option>
                        </select>
                    </div>
                </div>
                <div class="policy_container">
                    <div class="policy_container_title">
                        <span>能源类型：</span>
                    </div>
                    <div style="display: inline-block">
                        <select
                                chosen
                                multiple
                                placeholder-text-multiple="'请选择能源类型'"
                                width="'190px'"
                                ng-model="policyData.energyType"
                                ng-options="value.id as value.name for value in energyType"
                        >
                            <option value=""></option>
                        </select>
                    </div>
                </div>
                <div class="policy_container">
                    <div class="policy_container_title">
                        <span>油气排放标准：</span>
                    </div>
                    <div style="display: inline-block">
                        <select
                                chosen
                                multiple
                                placeholder-text-multiple="'请选择油气排放标准'"
                                width="'190px'"
                                ng-model="policyData.gasEmisstand"
                                ng-options="value.id as value.name for value in gasEmisstand"
                        >
                            <option value=""></option>
                        </select>
                    </div>
                </div>
                <div class="policy_container">
                    <div class="policy_container_title">
                        <span>车牌颜色：</span>
                    </div>
                    <div style="display: inline-block">
                        <select
                                chosen
                                multiple
                                placeholder-text-multiple="'请选择车牌颜色'"
                                width="'190px'"
                                ng-model="policyData.platecolor"
                                ng-options="value.id as value.name for value in platecolor"
                        >
                            <option value=""></option>
                        </select>
                    </div>
                </div>
                <div class="policy_container">
                    <div class="policy_container_title">
                        <span>车长限制：</span>
                    </div>
                    <div style="display: inline-block">
                        <input class="form-control poiRightPanel_Input" set-focus ng-pattern="/^(\d|[0-9]\d+)(\.\d+)?$/"
                               name="vehicleLength" required ng-model="policyData.vehicleLength" type="number" ng-blur="formateNumbers('vehicleLength',1)"/>
                    </div>
                </div>
                <div class="policy_container">
                    <div class="policy_container_title">
                        <span>限制载重：</span>
                    </div>
                    <div style="display: inline-block">
                        <input class="form-control poiRightPanel_Input" set-focus ng-pattern="/^(\d|[0-9]\d+)(\.\d+)?$/"
                               name="resWeigh" required ng-model="policyData.resWeigh" type="number" ng-blur="formateNumbers('resWeigh',2)" ng-disabled="policyData.vehicle.length===1 && policyData.vehicle[0] === 1"/>
                    </div>
                </div>
                <div class="policy_container">
                    <div class="policy_container_title">
                        <span>限制轴重：</span>
                    </div>
                    <div style="display: inline-block">
                        <input class="form-control poiRightPanel_Input" set-focus ng-pattern="/^(\d|[0-9]\d+)(\.\d+)?$/"
                               name="resAxleLoad" required ng-model="policyData.resAxleLoad" type="number" ng-blur="formateNumbers('resAxleLoad',2)" ng-disabled="policyData.vehicle.length===1 && policyData.vehicle[0] === 1"/>
                    </div>
                </div>
                <div class="policy_container">
                    <div class="policy_container_title">
                        <span>限制轴数：</span>
                    </div>
                    <div style="display: inline-block">
                        <input class="form-control poiRightPanel_Input" set-focus ng-pattern="/^-?\d+$/"
                               name="resAxleCount" required ng-model="policyData.resAxleCount" type="number" ng-disabled="policyData.vehicle.length===1 && policyData.vehicle[0] === 1"/>
                    </div>
                </div>
                <div class="policy_container">
                    <div class="policy_container_title">
                        <span>开始日期：</span>
                    </div>
                    <div style="display: inline-block">
                        <input type="text" class="form-control poiRightPanel_Input" ng-model="policyData.startDate"
                               data-max-date="{{policyData.endDate}}" bs-datepicker
                               data-date-format="yyyy-MM-dd" data-date-type="string" placement="top">
                    </div>
                </div>
                <div class="policy_container">
                    <div class="policy_container_title">
                        <span>结束日期：</span>
                    </div>
                    <div style="display: inline-block">
                        <input type="text" class="form-control poiRightPanel_Input" ng-model="policyData.endDate"
                               data-min-date="{{policyData.startDate}}" bs-datepicker
                               data-date-format="yyyy-MM-dd" data-date-type="string" placement="top">
                    </div>
                </div>
                <div class="policy_container">
                    <div class="policy_container_title">
                        <span>限行时间类型：</span>
                    </div>
                    <div style="display: inline-block">
                        <select
                                chosen
                                multiple
                                placeholder-text-multiple="'请选择限行时间类型'"
                                width="'190px'"
                                ng-model="policyData.resDatetype"
                                ng-options="value.id as value.name for value in resDatetype"
                        >
                            <option value=""></option>
                        </select>
                    </div>
                </div>
                <div class="policy_container">
                    <div class="policy_container_title">
                        <span>限行时间：</span>
                    </div>
                    <div style="display: inline-block">
                        <!--<input class="form-control poiRightPanel_Input" ng-model="policyData.time" disabled>-->
                        <div ng-include="dateURL" class="muti-date" data-type="1" date-str='{{policyData.time}}'></div>
                    </div>
                </div>
                <div class="policy_container">
                    <div class="policy_container_title">
                        <span>排除日期：</span>
                    </div>
                    <div style="display: inline-block">
                        <select
                                chosen
                                multiple
                                placeholder-text-multiple="'请选择排除日期'"
                                width="'190px'"
                                ng-model="policyData.specFlag"
                                ng-options="value.id as value.name for value in specFlag"
                        >
                            <option value=""></option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="list-title-btn"
             style="background-color: #5693ff;height: 24px;line-height: 24px;float: right;margin-right: 20px;margin-top: 20px"
             ng-click="savePolicy()">
            <span style="color: #FFFFFF;font-size: 12px">保存</span>
        </div>
    </form>
</div>