<style>
        .chosen-drop{
        height: 200px;
    }
    .chosen-container .chosen-results{
        height: 200px;
    }
    .rule {
        width: 100%;
        height: 100%;
    }

    .rule .chosen-choices {
        height: 59px !important;
        max-height: 59px;
        overflow: auto;
    }

    .rule_container {
        display: inline-block;
        width: 300px;
        padding-top: 10px;
    }

    .rule_container_title {
        width: 90px;
        text-align: right;
        display: inline-block;
        float: left;
        padding-right:10px;
    }
    .contenteditable{
        text-indent: 5px;
        display: inline-block;
        border:1px solid rgba(24, 40, 72, 0.2);
        font-size: 12px;
        width: 300px;
        line-height: 23px;
        word-break:break-all;
        word-wrap: break-word;
        white-space: pre-wrap;
    }
</style>
<div ng-controller="addRuleCtrl">
    <form class="w5c-form">
        <div style="padding-left: 10px;height: 300px;overflow: auto">
            <div>
                <div class="rule_container_title">
                    <span>组号：</span>
                </div>
                <span>{{groupId}}</span>
            </div>
            <div>
                <div class="rule_container">
                    <div class="rule_container_title">
                        <span>策略表ID:</span>
                    </div>
                    <span><input class="form-control poiRightPanel_Input" placeholder="" ng-model="RuleData.manoeuvreId"></span>
                </div>
                <div class="rule_container">
                    <div class="rule_container_title">
                        <span>策略组号:</span>
                    </div>
                    <span><input class="form-control poiRightPanel_Input" placeholder="" ng-model="RuleData.mGroupId"></span>
                </div>
                <div class="rule_container">
                    <div class="rule_container_title">
                        <span>行政区划:</span>
                    </div>
                    <span><input class="form-control poiRightPanel_Input" placeholder="" ng-model="RuleData.adAdmin"></span>
                </div>
                <div class="rule_container">
                    <div class="rule_container_title">
                        <span>车辆类型:</span>
                    </div>
                    <span><select class="form-control poiRightPanel_select"
                        ng-model="RuleData.vehicle"
                        ng-options="value.id as value.name for value in carType"
                        style="display: inline-block;width: 200px;height:30px;padding:1px 12px;"
                >
                </select></span>
                </div>
                <div class="rule_container">
                    <div class="rule_container_title">
                        <span>外本埠:</span>
                    </div>
                    <span><select class="form-control poiRightPanel_select"
                        ng-model="RuleData.attribution"
                        ng-options="value.id as value.name for value in attribution"
                        style="display: inline-block;width: 200px;height:30px;padding:1px 12px;"
                >
                </select></span>
                </div>
            </div>
            <div style="padding-top:10px;">
                <div class="rule_container_title">
                    <span>限行描述:</span>
                </div>
                <div contenteditable='true' class="contenteditable" ng-keyup="limit($event, $index, 'strategy')" ng-model="item.strategy">{{item.strategy}}</div>
            </div>
        </div>
        <div class="list-title-btn"
             style="background-color: #5693ff;height: 24px;line-height: 24px;float: right;margin-right: 20px;margin-top: 20px"
             ng-click="saverule()">
            <span style="color: #FFFFFF;font-size: 12px">保存</span>
        </div>
    </form>
</div>