<style>
    .box{
        display: -webkit-box;  /* 老版本语法: Safari, iOS, Android browser, older WebKit browsers. */
        display: -moz-box;     /* 老版本语法: Firefox (buggy) */
        display: -ms-flexbox;  /* 混合版本语法: IE 10 */
        display: -webkit-flex; /* 新版本语法: Chrome 21+ */
        display: flex;         /* 新版本语法: Opera 12.1, Firefox 22+ */
    }
    .flex1 {
        -webkit-flex: 1;        /* Chrome */  
        -ms-flex: 1;           /* IE 10 */  
        flex: 1;                /* NEW, Spec - Opera 12.1, Firefox 20+ */
        -webkit-box-flex: 1;     /* OLD - iOS 6-, Safari 3.1-6 */  
        -moz-box-flex: 1;       /* OLD - Firefox 19- */       
    }
    .groupEdit_content{
        padding-right:15px;
    }
</style>
<div ng-controller="editGroupCtrl">
    <div class="groupEdit_container">
        <div class="groupEdit_row box">
            <div class="groupEdit_title">
                <span>组号：</span>
            </div>
            <div class="groupEdit_content flex1">
                <span>{{groupData.groupId}}</span>
            </div>
        </div>
        <div class="groupEdit_row box">
            <div class="groupEdit_title">
                <span>行政区划：</span>
            </div>
            <div class="groupEdit_content flex1">
                <span>{{groupData.cityName}}</span>
            </div>
        </div>
        <div class="groupEdit_row box">
            <div class="groupEdit_title">
                <span>类型：</span>
            </div>
            <div class="groupEdit_content box flex1">
                <select class="tl_list_select flex1" ng-options="value.value as value.name for value in groupType" ng-model="groupData.groupType"></select>
            </div>
        </div>
        <div>
            <div ng-repeat="item in row track by $index" style="margin-top: 8px">
                <div>
                    <div class="groupEdit_row box">
                        <div class="groupEdit_title">
                            <span>限行时间：</span>
                        </div>
                        <div class="groupEdit_content box flex1">
                            <input type="text" class="tl_list_Input flex1" ng-model="item.time" ng-keyup="limit($event, $index, 'time')">
                            <img class="add" src="../../images/newPoi/rightPanelIcon/button-add.png " ng-if="$index===0" ng-style="{'margin-left': $index===0 ? '3px' : '20px' , 'width': '20px','height': '20px'}" ng-click="addItem($index)" >
                            <img class="delete" src="../../images/newPoi/rightPanelIcon/button-delete.png " ng-click="deleteItem($index)" ng-style="{'margin-left': $index===0 ? '6px' : '12px' , 'width': '20px','height': '20px'}">
                        </div>
                    </div>
                    <div class="groupEdit_row box">
                        <div class="groupEdit_title">
                            <span>限行对象：</span>
                        </div>
                        <div class="groupEdit_content  box flex1">
                            <input type="text" class="tl_list_Input flex1" ng-model="item.target" ng-keyup="limit($event, $index, 'target')">
                        </div>
                    </div>
                    <div class="box" style="margin-bottom: 5px;">
                        <div class="groupEdit_title">
                            <span>限行范围：</span>
                        </div>
                        <div class="groupEdit_content box flex1">
                            <textarea style='overflow-y: hidden;height: 25px;resize: none;' onpropertychange="this.style.height = this.scrollHeight + 'px';" oninput="this.style.height = this.scrollHeight + 'px';" onfocus="this.style.height = this.scrollHeight + 'px';" name="" id="" class="tl_list_Input flex1" ng-model="item.range" ng-keyup="limit($event, $index, 'range')"></textarea>
                        </div>
                    </div>
                    <div class="box">
                        <div class="groupEdit_title">
                            <span>限行策略：</span>
                        </div>
                        <div class="groupEdit_content box flex1">
                            <textarea style='overflow-y: hidden;height: 25px;resize: none;' onpropertychange="this.style.height = this.scrollHeight + 'px';" oninput="this.style.height = this.scrollHeight + 'px';" onfocus="this.style.height = this.scrollHeight + 'px';" name="" class="tl_list_Input flex1" id="" ng-model="item.strategy" ng-keyup="limit($event, $index, 'strategy')"></textarea>
                        </div>
                    </div>
                    <div style="border : 1px dashed #fa5883; margin-top : 5px;" ng-show="$index !== (row.length - 1)"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="list-title-btn" ng-click="saveGroup()" style="background-color: #5693ff;height: 24px;line-height: 24px;float: right;margin-right: 20px;margin-top: 10px">
        <span style="color: #FFFFFF;font-size: 12px">保存</span>
    </div>
</div>
