<style>
    .spareLineListPanel {
        width: 300px;
        height: 100%;
        background-color: white;
        font-size: 12px;
        padding-top: 40px;
    }
    .spareLineListPanel .header {
        height: 40px;
        color: white;
        background-color: #636ef5;
        padding-left: 10px;
        margin-top: -40px;
    }
    .spareLineListPanel .header h4 {
        display: inline-block;
        margin: 0;
        padding: 0;
        height: 40px;
        color: #FFFFFF;
        line-height: 40px;
        font-size: 15px;
        font-weight: 700;
        letter-spacing: 1px;
    }
</style>
<div ng-controller="spareLineListCtl" class="spareLineListPanel">
    <div class="header">
        <h4>{{groupID}} 编辑线列表</h4>
    </div>
    <div ui-grid="gridOptions"
         ui-grid-selection
         ui-grid-auto-resize
         ui-grid-resize-columns
         class="fm-grid wmContent" style="height: 100%;">

        <!--loading效果-->
        <div ng-show="loadingFlag" class="tableLoading" ng-include="'./svgLoading.html'"></div>
    </div>
</div>