<div class="scroll_style" ng-controller="buildTimeChangeCtrl">
    <ul class="list-group  detailUlCss">
        <li style="line-height:60px;height:60px">
            <div class="blockDescLiDiv" style="vertical-align: top;line-height: 20px">
                <span>变更后时间</span>
            </div>
            <textarea class="form-control poiRightPanel_area" type="text" rows=2 ng-model="buildTimeChange.deep.time"></textarea>
        </li>
        <li style="line-height:60px;height:60px">
            <div class="blockDescLiDiv" style="vertical-align: top;">
                <span>备注</span>
            </div>
            <textarea class="form-control poiRightPanel_area" type="text" rows=2 ng-model="buildTimeChange.content"></textarea>
        </li>
    </ul>
</div>