<div ng-controller="lcFaceCtrl">
    <!--基础属性-->
    <fast-collapse expander-title="基础属性">
        <ul class="list-group detailUlCss">
            <li>
                <div class="blockDescLiDiv"><span>FACE种别</span></div>
                <select ng-model="lcFaceData.kind"
                        class="form-control roadLeftPanel_select"
                        ng-options="value.id as value.label for value in kind" ng-change="kindChange($event, this)">
                </select>
            </li>
            <li>
                <div class="blockDescLiDiv"><span>FACE形态</span></div>
                <select ng-if="lcFaceData.kind!=17" ng-model="lcFaceData.form"
                        class="form-control roadLeftPanel_select"
                        ng-options="value.id as value.label disable when ([1,2,3,4].indexOf(value.id)!=-1) for value in form">
                </select>
                <select ng-if="lcFaceData.kind==17" ng-model="lcFaceData.form"
                        class="form-control roadLeftPanel_select"
                        ng-options="value.id as value.label for value in form">
                </select>
            </li>
            <li>
                <div class="blockDescLiDiv"><span>显示等级</span></div>
                <select ng-model="lcFaceData.displayClass"
                        class="form-control roadLeftPanel_select"
                        ng-options="value.id as value.label for value in displayClass">
                </select>
            </li>
            <li>
                <div class="blockDescLiDiv"><span>比例尺</span></div>
                <select ng-model="lcFaceData.scale"
                        class="form-control roadLeftPanel_select"
                        ng-options="value.id as value.label for value in scale">
                </select>
            </li>
            <li>
                <div class="blockDescLiDiv"><span>区域标识</span></div>
                <select ng-model="lcFaceData.detailFlag"
                        class="form-control roadLeftPanel_select"
                        ng-options="value.id as value.label for value in detailFlag">
                </select>
            </li>
            <li>
                <div class="blockDescLiDiv"><span>FACE面积</span></div>
                <span>{{lcFaceData.area}} 平方米</span>
            </li>
            <li>
                <div class="blockDescLiDiv"><span>FACE周长</span></div>
                <span>{{lcFaceData.perimeter}} 米</span>
            </li>
            <li>
                <div class="blockDescLiDiv"><span>图幅号</span></div>
                <span>{{lcFaceData.meshId}}</span>
            </li>
        </ul>
    </fast-collapse>
    <!--名称组展示-->
    <div class="poiRightPanel_fold" style="border: none">
        <strong>名　　称 [ 共{{nameGroup.length}}组 ]</strong>
        <div><img style="cursor: pointer" src="../../images/newRoad/rightPanelIcon/icon_add.png" ng-click="addGroup()"/></div>
    </div>
    <!-- 名称组显示 -->
    <div class="nameGroups"  ng-repeat="item in nameGroup" ng-init="outerIndex = $index">
        <div class="poiRightPanel_fold">
            <strong style="font-size: 12px;">名称组{{item[0].nameGroupid}}</strong>
            <div><i class="fa fa-plus-square-o" style="font-size: 16px;; cursor: pointer" aria-hidden="true" ng-click="addItem($index)"></i></div>
            <div style="padding-right: 8px;: 8px"><i class="fa fa-minus-square-o" style="font-size: 16px; cursor: pointer" aria-hidden="true" ng-click="removeGroup($index)"></i></div>
        </div>
        <ul class="list-group detailUlCss">
            <li ng-class="{'linkName_li': !(currentGroupIndex==$parent.$parent.$index&&currentItempIndex==$index),'linkName_li_checked': (currentGroupIndex==$parent.$parent.$index&&currentItempIndex==$index)}" ng-click="rememberNameNum($parent.$parent.$index, $index)" ng-repeat="subItem in item" data-container="body" data-animation="am-flip-x" data-auto-close="1" bs-popover data-placement="left" data-template-url="../../scripts/components/road/tpls/attr_lc_tpl/lcFaceNameTpl.html">
                <div style="width: 50px;padding-left: 10px;display: inline-block">
                    <span>{{$index + 1}}</span><!--名称组号-->
                </div>
                <div style="width: 100px;display: inline-block" ng-repeat="code in langCodeOptions | filter: subItem.langCode as results track by code.id">
                    <span>{{code.label}}</span><!--名称分类-->
                </div>
                <div style="width: 110px;display: inline-table">
                    <div class="text-ellipsis" style="max-width: 80px;" title="{{subItem.name}}">{{subItem.name === ''? '未命名': subItem.name}}</div><!--语言代码-->
                </div>
                <img style="cursor: pointer" src="../../images/newRoad/rightPanelIcon/icon_delete.png" ng-click="removeItem($index, $parent.$parent.$index, subItem)">
            </li>
        </ul>
    </div>
</div>