<div class="popover" tabindex="-1" style="width: 310px;min-height: 281px;max-height:320px;overflow-y: auto;">
    <form class="w5c-form" w5c-form-validate="" novalidate name="branchNameFrom">
        <ul class="list-group detailUlCss" ng-controller="rdBranchNameController">
            <li style="position: relative">
                <div class="linkName_popover_Div"><span>名称组号</span></div>
                <input disabled class="form-control poiRightPanel_Input" type="text" style="padding-right: 30px" ng-model="currentName.nameGroupid"/>
            </li>
            <li style="position: relative">
                <div class="linkName_popover_Div"><span>名称号码</span></div>
                <input disabled class="form-control poiRightPanel_Input" type="text" style="padding-right: 30px" ng-model="currentName.pid"/>
            </li>
            <li>
                <div class="linkName_popover_Div"><span>语言代码</span></div>
                <select class="form-control poiRightPanel_select linkName_popover_select" ng-model="currentName.langCode" ng-change="changeLangCode(currentName.langCode);">
                    <option value="{{value.id}}" ng-repeat="value in langCodeOptions" ng-selected="currentName.langCode == value.id"> {{value.label}}</option>
                </select>
            </li>
            <li style="position: relative">
                <div class="linkName_popover_Div"><span>分歧名称</span></div>
                <input class="form-control poiRightPanel_Input" type="text" ng-if="currentName.langCode != 'ENG'" style="padding-right: 30px" ng-change="getNamePronunciation(currentName.name,currentName);" ng-model="currentName.name" placeholder="名称内容" />
                <input class="form-control poiRightPanel_Input" type="text" ng-if="currentName.langCode == 'ENG'" style="padding-right: 30px" maxlength="35" ng-model="currentName.name" placeholder="名称内容" />
            </li>
            <!--<li style="position: relative">-->
                <!--<div class="linkName_popover_Div"><span>名称发音</span></div>-->
                <!--<input class="form-control poiRightPanel_Input" type="text" style="padding-right: 30px" ng-model="currentName.phonetic" placeholder="发音内容" ng-disabled="currentName.langCode == 'ENG'"/>-->
            <!--</li>-->
            <li style="height:auto;">
                <div class="linkName_popover_Div"><span>名称发音</span></div>
                <div style="display: inline-block;text-align: left;margin-right: 14px;margin-top: 4px;line-height: 20px;vertical-align: top;width:180px;">
                            <span class="" ng-repeat="item in currentName.phoneticArr track by $index">
                                <span ng-if="item.length>1">{<span ng-repeat="subitem in item" style="text-decoration: underline;cursor: pointer;color:red;margin-right: 4px;" ng-click="selectPolyphonic($event, $index, $parent.$parent.$index)">{{subitem}}</span>}</span>
                                <span ng-if="item.length==1">{{item[0]}}</span>
                            </span>
                    <span style=""><img ng-show="currentName.langCode == 'CHI' || currentName.langCode == 'CHT'" style="cursor: pointer;position: absolute;top: 130px;left: 280px;" src="../../images/meta/refresh.png" ng-click="getNamePronunciation(currentName.name,currentName);"></span>
                </div>
            </li>
            <li style="position: relative">
                <div class="linkName_popover_Div"><span>名称语音</span></div>
                <input class="form-control poiRightPanel_Input" type="text" style="padding-right: 30px" ng-model="currentName.voiceFile" placeholder="发音内容" />
            </li>
            <li>
                <div class="linkName_popover_Div"><span>名称分类</span></div>
                <select class="form-control poiRightPanel_select linkName_popover_select" ng-model="currentName.nameClass" ng-options="value.code as value.label for value in nameClassType"></select>
            </li>
            <li>
                <div class="linkName_popover_Div"><span>编号类型</span></div>
                <select class="form-control poiRightPanel_select linkName_popover_select" ng-model="currentName.codeType" ng-options="value.code as value.label for value in codeTypeObj"></select>
            </li>
            <li>
                <div class="linkName_popover_Div"><span>名称来源</span></div>
                <select class="form-control poiRightPanel_select linkName_popover_select" ng-model="currentName.srcFlag" ng-options="value.code as value.label for value in srcFlagOptions"></select>
            </li>
        </ul>
    </form>
</div>
